{% load static %}
{% load i18n %}
{% get_current_language as lang %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-08G0HG39V0"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-08G0HG39V0');
      </script>
    
      <title>
        {% block title %} PickNdell: Pickup & Delivery{% endblock title %}
      </title>
    
    <link rel="icon" type="image/x-icon" href="{% static 'images/dndsos-logo-white.png' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" >
  
  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="container d-none d-lg-block">
      <div class="row">
          <div class="col-11 text-center mb-1 mt-1">
            <a href="{% url 'dndsos:home' %}"> <span class="text-primary"><img src="{% static 'assets/images/pickndell-logo-1.png' %}" alt="dndsos logo type" style="max-width: 30%;"></span></a>
          </div>
          <div class="col-1">

          </div>
      </div>
    </div>
 
    <!-- HEADER -->
    <header class="site-navbar py-md-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
        {% include 'core/_messages.html' %}      

        <div class="row align-items-center">
          <div class="col-10 col-md-10 col-xl-2  d-block d-lg-none">
            <img src="{% static 'assets/images/pickndell-logo-1.png' %}" alt="pickndell logo" style="max-width: 55%;">
          </div>

          <div class="col-12 col-md-12 main-menu">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <!-- <li><a id="home-link" onclick="home()" href="/#home-section" class="nav-link">{% trans 'Home' %}</a></li> -->
                <li><a id="features-link" onclick="features()"  href="/#features-section" class="nav-link">{% trans 'Features' %}</a></li>
                <li><a id="how-link" onclick="how()"  href="/#how-it-works-section" class="nav-link">{% trans 'How it Works' %}</a></li>
                <li><a id="faq-link" onclick="faq()" href="/#faq" class="nav-link">{% trans 'FAQ' %}</a></li>
                <!-- <li><a href="/#about-section" class="nav-link">About Us</a></li> -->
                <!-- <li><a href="/#testimonials-section" class="nav-link">Testimonials</a></li> -->
                <!-- <li><a href="/#blog-section" class="nav-link">Blog</a></li> -->
                <!-- <li><a id="pricing-link" onclick="pricing()"  href="/#pricing" class="nav-link">{% trans 'Pricing' %}</a></li> -->
                <li><a id="contact-link" onclick="contact()" href="/#contact-section" class="nav-link">{% trans 'Contact' %}</a></li>
                {% if user.is_authenticated %}
                  {% if user.is_employer %}
                    <!-- <li><a class="btn btn-success text-white" href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}" class="">Dashboard</a></li> -->
                    <li><a id="b_dashboard" onclick="b_dashboard()" class="btn btn-success text-white" href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}" class="">{% trans 'Dashboard' %}</a></li>
                  {% else %}
                    <li><a id="f_dashboard" onclick="f_dashboard()" class="btn btn-success text-white" href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}" class="">{% trans 'Dashboard' %}</a></li>
                  {% endif %}
                    <li><a id="logout" onclick="logout()" href="{% url 'core:logout' %}" class="btn btn-sm btn-outline-success">{% trans 'Logout' %}</a></li>
                {% else %}
                  <!-- <li><a href="{% url 'core:login' %}" class="btn btn-sm btn-outline-success">Login</a></li> -->
                  <li><a id='login' onclick="login()" href="{% url 'core:login' %}" class="btn btn-sm btn-outline-success">{% trans 'Login' %}</a></li>
                {% endif %}
                <li style="margin: 2rem;">
                  <form action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="text" value="{{ redirect_to }}">
                    <select name="language" id="home_lang_selector">
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                      {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                          {{ language.name_local }}
                        </option>
                      {% endfor %}
                      <input class="" type="submit" value="Go" style="margin: 1rem;background-color: #8bc34a; color:white; border:0em; border-radius: 3px">
                    </select>
                  </form>		        
                </li>

              </ul>
            </nav>
          </div>

          <script>
            home = function(e){
              link = document.querySelector('#home-link').getAttribute('href')
              window.open(link,"_self")
            }
            features = function(e){
              link = document.querySelector('#features-link').getAttribute('href')
              window.open(link,"_self")
            }
            how = function(e){
              link = document.querySelector('#how-link').getAttribute('href')
              window.open(link,"_self")
            }
            faq = function(e){
              link = document.querySelector('#faq-link').getAttribute('href')
              window.open(link,"_self")
            }
            pricing = function(e){
              link = document.querySelector('#pricing-link').getAttribute('href')
              window.open(link,"_self")
            }
            contact = function(e){
              link = document.querySelector('#contact-link').getAttribute('href')
              window.open(link,"_self")
            }

            login = function(e){
              link = document.querySelector('#login').getAttribute('href')
              window.open(link,"_self")
            }
            logout = function(e){
              link = document.querySelector('#logout').getAttribute('href')
              window.open(link,"_self")
            }
            f_dashboard = function(e){
              link = document.querySelector('#f_dashboard').getAttribute('href')
              window.open(link,"_self")
            }
            b_dashboard = function(e){
              link = document.querySelector('#b_dashboard').getAttribute('href')
              window.open(link,"_self")
            }
            
          </script>

          <div class="col-4 col-md-4 d-inline-block d-lg-none ml-md-0" ><a href="{% url 'core:login' %}" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    <style>

      @media (min-width: 790px) {
        .main-image {
          max-width: 50%;
        }

      }
      @media (max-width: 360){
    
        .special {
          padding-top: 20%;
          margin-bottom: 50%;
        }
        
      }
    
      @media (max-width: 375px){
    
        .special {
          padding-top: 30%;
          margin-bottom: 50%;
        }
      }

      /* Scroll up button */
      #scroll {
        position:fixed;
        right:10px;
        bottom:10px;
        cursor:pointer;
        width:50px;
        height:50px;
        background-color:#3498db;
        text-indent:-9999px;
        display:none;
        -webkit-border-radius:60px;
        -moz-border-radius:60px;
        border-radius:60px
    }
    #scroll span {
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-8px;
        margin-top:-12px;
        height:0;
        width:0;
        border:8px solid transparent;
        border-bottom-color:#ffffff;
    }
    #scroll:hover {
        background-color:#e74c3c;
        opacity:1;filter:"alpha(opacity=100)";
        -ms-filter:"alpha(opacity=100)";
    }


    </style>
    
        {% block content %}

        <!--  CONTENT -->

        {% endblock content %}

    <div class="footer py-5 border-top text-center">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <p class="mb-0">
              <a href="{% url 'dndsos:terms' %}" class="p-3">{% trans 'Terms of use' %}</a>
              <a href="{% url 'dndsos:privacy' %}" class="p-3">{% trans 'Privacy' %}</a>
              <!-- <a href="{% url 'dndsos:privacy' %}" class="p-3">Privacy</a> -->
              <!-- <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a> -->
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
              <a href="#" id="scroll" style="display: none;"><span></span></a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              {% trans 'Copyright' %} &copy;<script>document.write(new Date().getFullYear());</script> {% trans 'All rights reserved' %} | PickNdell Ltd. <i class="icon-heart" aria-hidden="true"></i> by <a href="https://actappon.com" target="_blank" >Actappon</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>

  
     
    
  </div> <!-- .site-wrap -->

  <script>
    $(document).ready(function(){ 
      $(window).scroll(function(){ 
          if ($(this).scrollTop() > 100) { 
              $('#scroll').fadeIn(); 
          } else { 
              $('#scroll').fadeOut(); 
          } 
      }); 
      $('#scroll').click(function(){ 
          $("html, body").animate({ scrollTop: 0 }, 600); 
          return false; 
      }); 
  });

  </script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>

  
  <script src="{% static 'js/main.js' %}"></script>
    
  </body>
</html>