{% extends 'dndsos/base.html' %}
{% load i18n %}
{% get_current_language as lang %}

{% load static %}
{% block content %}
<div class="container" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <div text-align:center " class="special">
        {% if lang == 'he' %}
            <div style="margin-top: 15%;">
                {{ terms_courier_he | safe }} 
            </div>
        {% else %}
            <div style="margin-top: 15%;">
                {{ terms_courier | safe }} 
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}