{% extends 'dndsos/base.html' %}
{% load i18n %}
{% get_current_language as lang %}

{% load static %}
{% block content %}
<div class="container" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <div text-align:center " class="special">
        <div class="row" style="margin-top:20%; margin-bottom:20%">
            <div class="col-md-6 col-lg-6 text-right">
                <a href="{% url 'dndsos:terms_courier' %}" class="btn btn-primary btn-lg">Terms of Use for Couriers</a>
            </div>
            <div class="col-md-6 col-lg-6 text-left">
                <a href="{% url 'dndsos:terms_sender' %}" class="btn btn-secondary btn-lg">Terms of Use for Senders</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}