{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <button id = "find-me">Show my location</button><br/>
    <p id = "status"></p>
    <a id = "map-link" target="_blank"></a>
    <div class="container">
        <div id="count">
        </div>

        <hr>
        <h1>OID</h1>
        <h2>
            {{ oid }}
        </h2>

    </div>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>    
        let worker;
        if (window.Worker){
            worker = new Worker('{% static "assets/javascripts/worker.js" %}');
        } else {
            console.log('Browser not supporting workers!!')
        }

        function geoFindMe() {

                        
            const status = document.querySelector('#status');
            const mapLink = document.querySelector('#map-link');
          
            mapLink.href = '';
            mapLink.textContent = '';
          
            function success(position) {
              const latitude  = position.coords.latitude;
              const longitude = position.coords.longitude;
          
              status.textContent = '';
              mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
              mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;
            
              worker.postMessage({type: 'coords',lat: latitude, lon: longitude});

              worker.addEventListener('message', function(event){
                console.log(`LAT: ${event.data.message.lat}`);
                console.log(`LON: ${event.data.message.lon}`);
                coords = event.data.message.lat + ' ' + event.data.message.lon
                document.querySelector('#count').innerHTML = coords
                //worker.terminate()
                })
            }
          

            function error() {
              status.textContent = 'Unable to retrieve your location';
            }
          
            if(!navigator.geolocation) {
              status.textContent = 'Geolocation is not supported by your browser';
            } else {
              status.textContent = 'Locating…';
              navigator.geolocation.getCurrentPosition(success, error);
            }
          
          }
          
          //document.querySelector('#find-me').addEventListener('click', geoFindMe);
//            $(window).on('load',geoFindMe);
            for (var i = 0; i <= 1; i++){
                (function(i) {          
                  setTimeout(function () {   
                     console.log(i);
                     geoFindMe()
                    }, i*3000)
                })(i);  
              }
    </script>

    
    <!-- <script>
        // Reference: https://www.youtube.com/watch?v=HcSqj1apNHI

        let worker;
        if (window.Worker){
            console.log(`WORKER IS GOOD`);
            worker = new Worker('{% static "assets/javascripts/worker.js" %}');
            worker.postMessage('do some work');

            worker.addEventListener('message', function(event){
                console.log(`EVENT: ${event}`);
                console.log(`EVENT DATA: ${event.data.message}`);

                document.querySelector('#count').innerHTML = event.data.message
                worker.terminate()
            })
        }
    </script> -->

    <script>
        $('#location-button').click(function(){
      
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position){
                console.log(position);
                $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
                  console.log(data);
                })
                var img = new Image();
                img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + position.coords.latitude + "," + position.coords.longitude + "&zoom=13&size=800x400&sensor=false";
                $('#output').html(img);
              });
              
          }
        });
</script>


</body>
</html>