<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212248470945-fv3s7vepuove4jvjavb6rgbr8cob4kn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212248470945-fv3s7vepuove4jvjavb6rgbr8cob4kn5</string>
	<key>API_KEY</key>
	<string>AIzaSyAnUaE-ke9VT7W5NkHVmvmNmaTku5-u5HA</string>
	<key>GCM_SENDER_ID</key>
	<string>212248470945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.actappon.pickndell</string>
	<key>PROJECT_ID</key>
	<string>pickndell</string>
	<key>STORAGE_BUCKET</key>
	<string>pickndell.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212248470945:ios:471580e5ab1ed10ae6d7e0</string>
	<key>DATABASE_URL</key>
	<string>https://pickndell.firebaseio.com</string>
</dict>
</plist>