{% extends 'dndsos/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'PickNdell - Courier Sign Up' %}{% endblock %}

{% block content %}
{% get_current_language as lang %}

<div class="" style="margin-top:8rem">
  {% block head_title %}{% trans " Courier Signup" %}{% endblock %}
</div>
<div class="container" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
  <div class="row justify-content-center form-group">
    <div class="col-lg-7 mb-5 mt-5">
          {% include 'core/_messages.html' %}      
      
          <h2 class="h4 text-black mb-5" style="color: black;">{% trans "Courier Sign Up" %}</h2> 

          <p>{% trans 'Already have an account? Then please' %} <a href="{% url 'core:login' %}">{% trans 'sign in' %}</a>.</p>

          <form class="signup form-group" id="signup_form" method="post" action="{% url 'core:employee_signup' %}">
            {% csrf_token %}
            <div class="form-group">
              {% for field in form %}
                <div class="mt-2">
                  {% if field.name == "terms_accepted" %}
                    {{ field }}
                    <a href="{% url 'dndsos:terms' %}">{% trans 'Accept Terms and Conditions' %}</a>
                    <hr>
                  {% else %}
                  <div class="row">
                    <div class="col-md-4">
                      {{ field.label_tag }}
                    </div>
                    <div class="col-md-4">
                      {{ field }}  
                    </div>
                  </div>
                  {% endif %}  
              </div>
              {% endfor %}
            </div>
            <button class="btn btn-success text-white" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
          <a href="{% url 'core:employer_signup' %}">{% trans 'Sender/Business? Register here' %}</a>
  
    </div>
  </div>    
</div>
{% endblock %}
