{% extends 'dndsos_dashboard/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% get_current_language as lang %}

<section role="main" class="content-body" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <header class="page-header">
        <h2>{% trans 'Order Alerts' %}</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>{% trans 'Order Alerts' %}</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="col-md-10 col-lg-10">
        <form action="" method="POST" enctype="multipart/form-data" id="select_freelancers" name="select_freelancers">
            {% csrf_token %}
            <div class="row" >
                <div class="col-md-4">
                    <h4>{% trans 'Orders that are pending carrier allocation' %}</h4>
                    <p>{% trans 'There' %}  {% if num_orders > 1 %}  {% trans 'are' %} {% else %} {% trans 'is' %} {% endif %}{{ num_orders }} {% trans 'orders that require your attention' %} .</p>
                    <!-- <button type="submit" class="btn btn-warning" name="sort_by_city" type="button">{% trans 'Show all' %}!</button> -->
                </div>
                <!-- <div class="col-md-4">
                    <div class="input-group mb-md">
                        <input type="text" class="form-control" name="city" placeholder="Enter your city">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" name="sort_by_city" type="button">{% trans 'Sort' %}!</button>
                        </span>
                    </div>                    
                </div>
                <div class="col-md-4">
                    <div class="input-group mb-md">
                        <input type="text" class="form-control" name="vehicle" placeholder="Preferred vehicle">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" name="sort_by_vehicle" type="button">{% trans 'Sort' %}!</button>
                        </span>
                    </div>                    
                </div> -->
            </div>
        </form>
        <hr>
        <div class="row" id="b_alerts_items" url="{% url 'dndsos_dashboard:b-alerts-items' b_id=user.pk %}">

            <!-- Business open orders/alerts items -->

        </div>
    </div>
    <!-- end: page -->
</section>

{% endblock content %}
{% block js %}
<script>
    $(document).ready(function() {
        let items_url_e = document.querySelector('#b_alerts_items');
        let items_url = items_url_e.getAttribute('url')
        //console.log(items_url);
        $.ajax({
            type: 'GET',
            url: items_url,
            async:false,
            success: function(response) {
                //console.log(response);
                $("#b_alerts_items").html(response)
            }		
        });
    });
    
</script>

{% endblock js %}