{% extends 'dndsos_dashboard/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% get_current_language as lang %}

<section role="main" class="content-body" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <header class="page-header">
        <h2>{% trans 'Messages' %}</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>{% trans 'Messages' %}</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="col-md-10 col-lg-10">
            <div class="row" >
                <div class="col-md-4 ">
                    <h3>{% trans 'Messages Related to Orders' %}</h3>
                </div>
            </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <!-- Colums with all messages with sorting -->
                <div class="" id="b_chat_rooms">
                    <!-- Chat rooms names/dates... -->
                    <div class="panel" id="messagesList">

                        <!-- Messages List -->
                    
                    </div>
        
                </div>        
            </div>
            <div class="col-md-7" id="chatRoom">

                <!-- Chat room -->

            </div>
        </div>


    </div>
    <!-- end: page -->
</section>

{% endblock content %}
{% block js %}
<script>
    showChat = function(order_id){
        console.log(`CHAT: ${order_id}`)
        url = "{% url 'dndsos_dashboard:b-chat-room' b_id=user.pk %}"
        $.ajax({
            url: url,
			data: {
				oid: order_id
			},
            success: function(response) {
                $('#chatRoom').html(response);
            }
        })
        
        //Cancel "New Message" alert
        businessSocket.send(JSON.stringify({
            'type': 'direct.message', 
            'data': {
                'chat_message': 'clear_alerts',
                'new_message': 'clear_business',
                'order_id': order_id
            }
        }));

        $.ajax({
            url: "{% url 'dndsos_dashboard:b-messages-list' b_id=user.pk %}",
            success: function(response) {
                $('#messagesList').html(response);
            }
        })

        
};

businessSocket.onmessage = function(e) {
    let data = JSON.parse(e.data);
    const data_string = JSON.stringify(e.data);
    console.log(`DATA RECEIVED: ${data.data.message} ORDER ID: ${data.data.order_id}`);
    let order_id = data.data.order_id
    // Refresh the table to update the accepted order
    $.ajax({
        url: "{% url 'dndsos_dashboard:b-chat-room' b_id=user.pk %}",
        data: {
            oid: order_id
        },
        success: function(response) {
            $('#chatRoom').html(response);
        }
    })		

    $.ajax({
        url: "{% url 'dndsos_dashboard:b-messages-list' b_id=user.pk %}",
        success: function(response) {
            $('#messagesList').html(response);
        }
    })    

    $.ajax({
        url: "{% url 'orders:business-messages-list' %}",
        success: function(response){
            $('#businessMessagesAlerts').html(response);
        }
    })


}

$(document).ready(function (){
    $.ajax({
        url: "{% url 'dndsos_dashboard:b-messages-list' b_id=user.pk %}",
        success: function(response) {
            $('#messagesList').html(response);
        }
    })    
})


</script>


{% endblock js %}
