{% extends 'dndsos_dashboard/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% get_current_language as lang %}
<style>
	.payment-card {
		background-color: #ffffff;
		box-shadow: 0px 0px 30px rgba( 221, 221, 221, 1);
		border-radius: 4px;
		position: relative;
		padding: 8px 14px;
		margin: 40px 0;	
		margin-left: 1rem;
	}
	</style>
	
<link rel="stylesheet" href="{% static 'assets/vendor/dropzone/css/basic.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/dropzone/css/dropzone.css' %}" />

    <section role="main" class="content-body" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
					<header class="page-header">
						<h2>{% trans 'Business Profile' %}</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span> {% trans 'Profile' %}</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
						</div>
					</header>

					<!-- start: page -->

					<div class="row">
						<div class="col-md-3 col-lg-2">
						</div>

						<div class="col-md-9 col-lg-7">

							<div class="tabs">
								<ul class="nav nav-tabs tabs-primary">
									<li class="active">
										<a href="#overview" data-toggle="tab">{% trans 'Overview' %}</a>
									</li>
									<li>
										<a href="#edit" data-toggle="tab">{% trans 'Edit' %}</a>
									</li>
									<li>
										<a href="#add_cc" data-toggle="tab">{% trans 'Manage Credit Cards' %}</a>
									</li>
								</ul>
								<div class="tab-content">

									<!-- Profile Overview -->
									<div id="overview" class="tab-pane active">
										<h4>{% trans 'Profile Information' %} - 
											{% if profile.is_approved %} 
											<span style="color: green; border: solid green 2px; padding:0.5rem; border-radius: 2rem  " ><b>{% trans 'Approved' %}</b></span> 
											{% else %}
											<span style="color: red;" ><b>{% trans 'Not Approved' %}</b> 
												<span style="font-size: 1.5rem;">({% trans 'Please complete profile' %})</span> 
											</span>
											{% endif %}
										</h4>
										<section class="panel panel-group">
											<header class="panel-heading bg-primary"> 
												<div class="widget-profile-info">
													<div class="profile-picture">
														<img src="{{ profile.profile_pic.url }}" alt="">
													</div>
													<div class="profile-info">
														<h4 class="name text-semibold">{{ profile.business_name }}</h4>
														<div class="profile-footer">
															<p class="text-left">{% trans 'Business category' %}: {{ profile.business_category }}</p>
														</div>
													</div>
												</div>
											</header>
											<div class="panel-body">
												<p><b>{% trans 'Email' %}</b>: {{ email }}</p>
												<p><b>{% trans 'Phone' %}</b>: {{ profile.phone }}</p>
												<!-- <p><b>{% trans 'Business Type' %}</b>: {{ profile.business_type }}</p> -->
												<p><b>{% trans 'Business Category' %}</b>: {{ profile.business_category }}</p>
												<p><b>{% trans 'Address' %}:</b> {{ profile.address }} </p>
											</div>
										</section>


										<div class="widget-toggle-expand mb-md">
											<div class="widget-header">
												<h6>{% trans 'Profile Completion' %} ({{ complete }}%)</h6>
											</div>
											<div class="widget-content">
												<div class="progress progress-xs light">
													<div class="{% if complete < 100 %} progress-bar-danger {% else %} progress-bar-success {% endif %}" role="progressbar" aria-valuenow="{{ complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ complete }}%;">
														{{ complete }}
													</div>
												</div>
											</div>
											<div class="widget-content-expanded">
												<ul class="simple-todo-list">
													<li class="{% if required_fields.business_name %}completed{% else %}{% endif %}">{% trans 'Name' %} </li>
													<li class="{% if required_fields.phone %}completed{% else %}{% endif %}">{% trans 'Phone' %} </li>
													<!-- <li class="{% if required_fields.city %}completed{% else %}{% endif %}">{% trans 'City' %} </li>
													<li class="{% if required_fields.street %}completed{% else %}{% endif %}">{% trans 'Street' %} </li>
													<li class="{% if required_fields.building_number %}completed{% else %}{% endif %}">{% trans 'Building Number' %} </li> -->
													<li class="{% if required_fields.credit_card_token %}completed{% else %}{% endif %}">{% trans 'Credit Card' %} </li>
												</ul>
											</div>
										</div>
	

									</div>
									<!-- END Profile Overview -->

									<!-- Profile Edit -->
									<div id="edit" class="tab-pane">

										<form class="form-horizontal" enctype="multipart/form-data" name="businessProfile" method="POST">
											{% csrf_token %}
											<h4 class="mb-xlg">{% trans 'Business Information' %}</h4>
												<fieldset>
													{% for non_field_error in form.non_field.errors %}
														<p class="help is-danger">{{ non_field_error }}</p>
													{% endfor %}
														<div class="form-group">
															<div class="row">
																<label class="col-md-3 control-label" for="">{% trans 'Business Name' %}</label>
																<div class="col-md-4">{{ form.business_name }}</div>	
															</div>

															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label " for="">{% trans 'Business Category' %}</label>
																<div class="col-md-4">{{ form.business_category }}</div>	
															</div>
														
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">{% trans 'Phone Number' %}</label>
																
																<div class="col-md-4">
																	{% if user.business.phone %}
																		<input class="form-control" type="text" name="phoneNumber" placeholder="{{user.business.phone}}">
																	{% else %}
																		<input class="form-control" type="text" name="phoneNumber" placeholder="{% trans 'Phone with country prefix' %}">
																	{% endif %}
																</div>
																<div class="col-md-3 text-left">
																	<button class="btn btn-primary" name="addPhone" type="submit">{% trans 'Add/Change Phone' %}</button>
																</div>
															</div>

															 <div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">{% trans 'Business/Sender Address' %}</label>
																<div class="col-md-4">
																	{% if user.business.address %}
																		<input id="searchTextField" name="profileAddress" class="form-control" type="text" placeholder="{{ user.business.address }}">
																	{% else %}
																		<input id="searchTextField" name="profileAddress" class="form-control" type="text" placeholder="{% trans 'Address' %} ({% trans 'start typing' %})">
																	{% endif %}
																	<div id="map_canvas"></div>    																								   
																</div>
															</div>

															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">{% trans 'Newsletter Optin' %}</label>
																<div class="col-md-1 text-left" style="padding-top: 1rem;">{{ form.newsletter_optin }}</div>
															</div>

														</div>

													<div class="row">
														<div class="col-3"></div>
														<div class="col-md-3 col-md-offset-3">
															<img src="{% if user.business.profile_pic %}{{user.business.profile_pic.url}} {% else %} {% static 'assets/images/no-img.jpg' %} {% endif %}" style='max-width:50%' id="preview" name="old_profile_pic" alt="Avatar">
															<span class="">
																<input type="file" id="profile_pic"  onchange="preview_image()" name="profile_pic">
															</span>
														</div>
													</div>
												</fieldset>
												<hr class="dotted tall">
												<a class="btn btn-warning" href="{% url 'password_change' %}" role="button">{% trans 'Change Password' %}</a>

											<div class="panel-footer">
												<div class="row">
													<div class="col-md-9 col-md-offset-3">
														<button type="submit" name="update_profile" class="btn btn-primary">{% trans 'Submit' %}</button>
														<button type="reset" class="btn btn-default">{% trans 'Reset' %}</button>
													</div>
												</div>
											</div>

										</form>

									</div>
									<!-- END Profile Edit -->

									<!-- Credit Cards Management -->
									<div id="add_cc" class="tab-pane">
										<h3>{% trans 'Update Your Credit Card' %}</h3>
										{% if user.business.credit_card_token %}
											<div class="row">
												<div class="col-md-12">
													<h4>{% trans 'You already have a credit card in the system' %}.</h4>
												</div>
												<div class="row" >
													<div class="col-md-1"></div>
													<div class="col-md-5" style="margin-top:3rem">
														<p style="background-color: rgb(240, 247, 247); border:2px solid rgb(14, 109, 73); border-radius:5px; padding:1rem"><i class="fa fa-credit-card"></i>  Card ending with: {{ card_number }}. Exp. Date: {{ card_due_date }}</p>
													</div>
												</div>
											</div>
											<div class="row" style="margin-top: 2rem;">
												<div class="col-md-6">
													<button onclick="updateCard()" class="btn btn-primary" type="button" >{% trans 'Update' %}</button>
												</div>
											</div>
										{% else %}
										<form class="form-horizontal" enctype="multipart/form-data" id="add_card" name="add_card" method="POST" action="{% url 'payments:add-card' %}">
											{% csrf_token %}
											<div class="row">
												<div class="col-md-6">
													<h4 class="mb-xlg">Add/Remove credit cards</h4>
												</div>
												<div class="col-md-6">
													<div class="card-icon mt-2 center">
														<span class="icon-top"><img src="{% static 'assets/images/payments-badge.jpg' %}" style="width: 70%;" alt=""></span>
														<!-- <span class="icon-top"><img src="{% static 'assets/images/visa.png' %}" alt=""></span>
														<span class="icon-top"><img src="{% static 'assets/images/mastercard.png' %}" alt=""></span>
														<span class="icon-top"><img src="{% static 'assets/images/credit-card.png' %}" alt=""></span> -->
													</div>		
												</div>
											</div>										
											<div class="body-sec">
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">Cardholder Name</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="text" id="name" class="form-control" name="name" value="" required placeholder="Cardholder Name">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">Cardholder ID Number</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="text" id="owner-id-number" class="form-control" name="owner-id-number" value="" required placeholder="Cardholder ID Number">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">Card Number</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="text" pattern="\d*" maxlength="16" minlength="16" title="must be numeric 16 digit" id="card-number" class="form-control" name="card-number" value="" required placeholder="Card Number">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">Expiration Date</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="date" id="expiry-date" class="form-control" name="expiry-date" value="" required placeholder="Expiration Date">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">CVV</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="text" pattern="\d*" maxlength="4" minlength="3" title="must be numeric 3 digit" id="cvv" class="form-control" name="cvv" value="" required placeholder="CVV">
														</div>
													</div>

												{% if cards %}
												<div class="row" >
													<div class="col-md-6 payment-card">
														<div class="bottom-sec">
																{% for card in cards %}
																<div>
																	<div class="row">
																		<div class="col-lg-10 col-md-10 col-sm-10 col-12">
																			<div class="text-wrapper">								
																				<p>XXXX XXXX XXXX {{card.card_number | slice:"12:16"}}</p>
																				<p>{{card.expiry_date|date:"d-m-Y"}}</p>
																			</div>
																		</div>
																		<div class="col-lg-2 col-md-2 col-sm-2 col-12">
																			<div class="img-wrapper">
																				<img src="{% static 'assets/images/visa.png' %}">
																			</div>
																		</div>
																	</div>
																	<span class="cross-btn">
																		<a href="{% url 'payments:remove-card' %}?card-id={{card.id}}"><i class="fa fa-times" aria-hidden="true"></i>remove</a>
																	</span>
																</div>
																{% endfor %}
														</div>		
													</div>
												</div>
												{% endif %}

											</div>

											<div class="panel-footer">
												<div class="row">
													<div class="col-md-9 col-md-offset-3">
														<button type="submit" name="add_credit_card" class="btn btn-primary">Add</button>
													</div>
												</div>
											</div>

										</form>
									
										{% endif %}
										
									</div>
									<!-- END Credit Cards Management -->

								</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
    </section>
	<script src="{% static 'assets/vendor/fuelux/js/spinner.js' %}"></script>
	<script src="{% static 'assets/vendor/dropzone/dropzone.js' %}"></script>
	
	<!-- Google autocomplete address -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&sensor=false&libraries=places" type="text/javascript"></script>
	<script src="{% static 'assets/javascripts/profile_address.js' %}"></script>
	
	<script>
	function preview_image()
	{
	if(event.target.files.length > 0){
	   	$("#preview").attr('src', URL.createObjectURL(event.target.files[0]));
	   }
	}
	</script>
	<script type="application/javascript">
     
      
		$('#message').ready(function() {
			$('#exampleModal').modal({show:true});
			//$('#message').modal('hide');
		});
	</script>
	
	{% include 'payments/partials/_update-card-modal.html' %}
	
	<script type="application/javascript">
		updateCard = function() {
			$('#updateCardModal').modal('show')
		}
	</script>

	<script type="text/javascript">
		/*
			Placement of cities and streets in the selection areas
		*/
		$("#city").change(function () {
	
			let city = document.querySelector('#city'); 
			let selected_city = $(this).val();
			let city_streets_url = '{% url "geo:city-streets" %}'
			console.log(selected_city);
			$.ajax({
				url: city_streets_url,
				data: {
					city: selected_city,
					type: 'profile'
				},
				success: function(response) {
				//console.log(response)
				$('#streets').html(response);
				}
			})		
		});
	
	</script>
	

{% endblock content %}