{% extends 'dndsos_dashboard/base.html' %}
{% load static %}
{% block content %}
<style>
	.payment-card {
		background-color: #ffffff;
		box-shadow: 0px 0px 30px rgba( 221, 221, 221, 1);
		border-radius: 4px;
		position: relative;
		padding: 8px 14px;
		margin: 40px 0;	
		margin-left: 1rem;
	}
	</style>
	
<link rel="stylesheet" href="{% static 'assets/vendor/dropzone/css/basic.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/dropzone/css/dropzone.css' %}" />

    <section role="main" class="content-body">
					<header class="page-header">
						<h2>Business Profile</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span> Profile</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
						</div>
					</header>

					<!-- start: page -->

					<div class="row">
						<div class="col-md-3 col-lg-2">
						</div>

						<div class="col-md-9 col-lg-7">

							<div class="tabs">
								<ul class="nav nav-tabs tabs-primary">
									<li class="active">
										<a href="#overview" data-toggle="tab">Overview</a>
									</li>
									<li>
										<a href="#edit" data-toggle="tab">Edit</a>
									</li>
									<li>
										<a href="#add_cc" data-toggle="tab">Manage Credit Cards</a>
									</li>
								</ul>
								<div class="tab-content">

									<!-- Profile Overview -->
									<div id="overview" class="tab-pane active">
										<h4>Profile Information - 
											{% if profile.is_approved %} 
											<span style="color: green; border: solid green 2px; padding:0.5rem; border-radius: 2rem  " ><b>Approved</b></span> 
											{% else %}
											<span style="color: red;" ><b>Not Approved</b> 
												<span style="font-size: 1.5rem;">(Please complete profile)</span> 
											</span>
											{% endif %}
										</h4>
										<section class="panel panel-group">
											<header class="panel-heading bg-primary"> 
												<div class="widget-profile-info">
													<div class="profile-picture">
														<img src="{{ profile.profile_pic.url }}" alt="">
													</div>
													<div class="profile-info">
														<h4 class="name text-semibold">{{ profile.business_name }}</h4>
														<div class="profile-footer">
															<p class="text-left">Business category: {{ profile.business_category }}</p>
														</div>
													</div>
												</div>
											</header>
											<div class="panel-body">
												<p><b>Email</b>: {{ email }}</p>
												<p><b>Phone</b>: {{ profile.phone }}</p>
												<!-- <p><b>Business Type</b>: {{ profile.business_type }}</p> -->
												<p><b>Business Category</b>: {{ profile.business_category }}</p>
												<p><b>Bio: </b> {{ profile.bio }}</p>
												<p><b>Address:</b> {{ profile.building_number }} {{ profile.street }}, {{ profile.city }}</p>
											</div>
										</section>


										<div class="widget-toggle-expand mb-md">
											<div class="widget-header">
												<h6>Profile Completion ({{ complete }}%)</h6>
												<div class="widget-toggle">+</div>
											</div>
											<div class="widget-content-collapsed">
												<div class="progress progress-xs light">
													<div class="progress-bar" role="progressbar" aria-valuenow="{{ complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ complete }}%;">
														{{ complete }}
													</div>
												</div>
											</div>
											<div class="widget-content-expanded">
												<ul class="simple-todo-list">
													{% for required_field, is_completed in required_fields.items %}
													<li class="{% if is_completed %}completed{% else %}{% endif %}">{{ required_field }} </li>
													{% endfor %}
												</ul>
											</div>
										</div>
	

									</div>
									<!-- END Profile Overview -->

									<!-- Profile Edit -->
									<div id="edit" class="tab-pane">

										<form class="form-horizontal" enctype="multipart/form-data" name="businessProfile" method="POST">
											{% csrf_token %}
											<h4 class="mb-xlg">Personal Information</h4>
												<fieldset>
													{% for non_field_error in form.non_field.errors %}
														<p class="help is-danger">{{ non_field_error }}</p>
													{% endfor %}
														<div class="form-group">
															<div class="row">
																<label class="col-md-3 control-label" for="">Business Name</label>
																<div class="col-md-8">{{ form.business_name }}</div>	
															</div>

															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label " for="">Business Category</label>
																<div class="col-md-8">{{ form.business_category }}</div>	
															</div>
														
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Phone</label>
																<div class="col-md-8">{{ form.phone }}</div>
															</div>

															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">City</label>
																<!-- <div class="col-md-8">{{ form.city }}</div> -->
																<div class="col-md-8">
																	<select id="city" name="city" class="form-control" required>
																		<option value="none">---------------</option>
																		{% for city in cities %}
																			<option value="{{ city.hebrew_name }}">{{ city.hebrew_name }}</option>
																		{% endfor %}
																	</select>								
																</div>
															</div>

															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Street</label>
																<!-- <div class="col-md-8">{{ form.street }}</div> -->
																<div class="col-md-8" id="streets">
																	
																	<!-- Loaded from Ajax -->
																	
																</div>
															</div>

															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Building Number</label>
																<div class="col-md-8">{{ form.building_number }}</div>
															</div>

															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Newsletter Optin</label>
																<div class="col-md-8">{{ form.newsletter_optin }}</div>
															</div>

														</div>

													<div class="row">
														<div class="col-3"></div>
														<div class="col-md-3 col-md-offset-3">
															<img src="{% if user.profile.profile_pic %}{{user.profile.profile_pic.url}} {% else %} {% static 'assets/images/no-img.jpg' %} {% endif %}" style='max-width:50%' id="preview" name="old_profile_pic" alt="Avatar">
															<span class="">
																<input type="file" id="profile_pic"  onchange="preview_image()" name="profile_pic">
															</span>
														</div>
													</div>
												</fieldset>
												<hr class="dotted tall">
												<a class="btn btn-warning" href="{% url 'password_change' %}" role="button">Change Password</a>

											<div class="panel-footer">
												<div class="row">
													<div class="col-md-9 col-md-offset-3">
														<button type="submit" name="update_profile" class="btn btn-primary">Submit</button>
														<button type="reset" class="btn btn-default">Reset</button>
													</div>
												</div>
											</div>

										</form>

									</div>
									<!-- END Profile Edit -->

									<!-- Credit Cards Management -->
									<div id="add_cc" class="tab-pane">

										<form class="form-horizontal" enctype="multipart/form-data" id="add_card" name="add_card" method="POST" action="{% url 'payments:add-card' %}">
											{% csrf_token %}
											<div class="row">
												<div class="col-md-6">
													<h4 class="mb-xlg">Add/Remove credit cards</h4>
												</div>
												<div class="col-md-6">
													<div class="card-icon mt-2 center">
														<span class="icon-top"><img src="{% static 'assets/images/visa.png' %}" alt=""></span>
														<span class="icon-top"><img src="{% static 'assets/images/mastercard.png' %}" alt=""></span>
														<span class="icon-top"><img src="{% static 'assets/images/credit-card.png' %}" alt=""></span>
													</div>		
												</div>
											</div>										
											<div class="body-sec">
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">Cardholder Name</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="text" id="name" class="form-control" name="name" value="" required placeholder="Cardholder Name">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">Card Number</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="text" pattern="\d*" maxlength="16" minlength="16" title="must be numeric 16 digit" id="card-number" class="form-control" name="card-number" value="" required placeholder="Card Number">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">Expiration Date</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="date" id="expiry-date" class="form-control" name="expiry-date" value="" required placeholder="Expiration Date">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-lg-4 col-md-4 col-sm-4 col-12 col-form-label">CVV</label>
														<div class="col-lg-8 col-md-8 col-sm-8 col-12">
															<input type="text" pattern="\d*" maxlength="4" minlength="3" title="must be numeric 3 digit" id="cvv" class="form-control" name="cvv" value="" required placeholder="CVV">
														</div>
													</div>

												{% if cards %}
												<div class="row" >
													<div class="col-md-6 payment-card">
														<div class="bottom-sec">
																{% for card in cards %}
																<div>
																	<div class="row">
																		<div class="col-lg-10 col-md-10 col-sm-10 col-12">
																			<div class="text-wrapper">								
																				<p>XXXX XXXX XXXX {{card.card_number | slice:"12:16"}}</p>
																				<p>{{card.expiry_date|date:"d-m-Y"}}</p>
																			</div>
																		</div>
																		<div class="col-lg-2 col-md-2 col-sm-2 col-12">
																			<div class="img-wrapper">
																				<img src="{% static 'assets/images/visa.png' %}">
																			</div>
																		</div>
																	</div>
																	<span class="cross-btn">
																		<a href="{% url 'payments:remove-card' %}?card-id={{card.id}}"><i class="fa fa-times" aria-hidden="true"></i>remove</a>
																	</span>
																</div>
																{% endfor %}
														</div>		
													</div>
												</div>
												{% endif %}

											</div>

											<div class="panel-footer">
												<div class="row">
													<div class="col-md-9 col-md-offset-3">
														<button type="submit" name="add_credit_card" class="btn btn-primary">Add</button>
													</div>
												</div>
											</div>

										</form>

									</div>
									<!-- END Credit Cards Management -->

								</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
    </section>
	<script src="{% static 'assets/vendor/fuelux/js/spinner.js' %}"></script>
	<script src="{% static 'assets/vendor/dropzone/dropzone.js' %}"></script>
	<script>
	function preview_image()
	{
	if(event.target.files.length > 0){
	   	$("#preview").attr('src', URL.createObjectURL(event.target.files[0]));
	   }
	}
	</script>
	<script type="application/javascript">
     
      
		$('#message').ready(function() {
			$('#exampleModal').modal({show:true});
			//$('#message').modal('hide');
		});
	</script>

	<script type="text/javascript">
		/*
			Placement of cities and streets in the selection areas
		*/
		$("#city").change(function () {
	
			let city = document.querySelector('#city'); 
			let selected_city = $(this).val();
			let city_streets_url = '{% url "geo:city-streets" %}'
			console.log(selected_city);
			$.ajax({
				url: city_streets_url,
				data: {
					city: selected_city,
					type: 'profile'
				},
				success: function(response) {
				//console.log(response)
				$('#streets').html(response);
				}
			})		
		});
	
	</script>
	

{% endblock content %}