{% load static %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

        <title>DnD-SOS ● Dashboard</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/images/dndsos-logo-white.png' %}">
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="DnD SOS Admin">
		<meta name="author" content="DnD-SOS">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">

		<!-- Datatables CSS -->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.4/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.0/sl-1.3.1/datatables.min.css"/>


		<!-- Head Libs -->
		<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>


	</head>
	<body>
		<section class="body">
			<!-- start: header -->
			<header class="header">
				<div class="row">
					<div class="col-md-4">
						<div class="logo-container">
							<a href="{% url 'dndsos:home' %}" class="logo">
								<img src="{% static 'assets/images/dndsos-logo-black.png' %}" height="35" alt="DnD-SOS Admin" />
								<span class="h4"><b>DnDSOS</b></span>
							</a>
							<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
								<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
							</div>
						</div>		
					</div>
					<div class="col-md-4">
						{% include 'core/_messages.html' %}
					</div>
					<div class="col-md-4">
						<div class="header-right">
				
							<form action="pages-search-results.html" class="search nav-form">
								<div class="input-group input-search">
									<input type="text" class="form-control" name="q" id="q" placeholder="Search...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
					
							<span class="separator"></span>
					
							<ul class="notifications">
								<!-- <li>
									<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
										<i class="fa fa-tasks"></i>
										<span class="badge">3</span>
									</a>
					
									<div class="dropdown-menu notification-menu large">
										<div class="notification-title">
											<span class="pull-right label label-default">3</span>
											Tasks
										</div>
					
										<div class="content">
											<ul>
												<li>
													<p class="clearfix mb-xs">
														<span class="message pull-left">Generating Sales Report</span>
														<span class="message pull-right text-dark">60%</span>
													</p>
													<div class="progress progress-xs light">
														<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
													</div>
												</li>
					
												<li>
													<p class="clearfix mb-xs">
														<span class="message pull-left">Importing Contacts</span>
														<span class="message pull-right text-dark">98%</span>
													</p>
													<div class="progress progress-xs light">
														<div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
													</div>
												</li>
					
												<li>
													<p class="clearfix mb-xs">
														<span class="message pull-left">Uploading something big</span>
														<span class="message pull-right text-dark">33%</span>
													</p>
													<div class="progress progress-xs light mb-xs">
														<div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</li>-->
								<li>
									{% if user.is_employee %}
										<div id="freelancerMessagesAlerts">
											<!-- Freelancer Messages alerts List-->
										</div>
									{% elif user.is_employer %}
										<div id="businessMessagesAlerts">
											<!-- Businee Messages alerts List-->
										</div>
									{% endif %}
								</li> 
								<li>
									{% if user.is_employee %}
										<div id="openOrdersAlerts">
											<!-- Open Orders alerts -->
										</div>
									{% elif user.is_employer %}
										<div id="businessOrdersAlerts">
											<!-- Order alerts -->
										</div>
									{% endif %}
								</li>
							</ul>
					
							<span class="separator"></span>
					
							<div id="userbox" class="userbox">
								<a href="#" data-toggle="dropdown">
									<figure class="profile-picture">
										<img src="{% static 'assets/images/logged-user.jpg' %}" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/logged-user.jpg' %}" />
									</figure>
									<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@DnD SOS.com">
										<span class="name">{{ user.username }}</span>
										<span class="role">{% if user.is_staff %}administrator{% else %}{% endif %}</span>
									</div>
					
									<i class="fa custom-caret"></i>
								</a>
					
								<div class="dropdown-menu">
									<ul class="list-unstyled">
										<li class="divider"></li>
										<li>
											{% if user.is_employee %}
												<a role="menuitem" tabindex="-1" href="{% url 'dndsos_dashboard:f-profile' f_id=user.pk %}"><i class="fa fa-user"></i> Profile</a>
											{% else %}
												<a role="menuitem" tabindex="-1" href="{% url 'dndsos_dashboard:b-profile' b_id=user.pk %}"><i class="fa fa-user"></i> Profile</a>
											{% endif %}
										</li>
										<li>
											<a role="menuitem" tabindex="-1" href="{% url 'core:logout' %}"><i class="fa fa-power-off"></i> Logout</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
		
					</div>
				</div>


				<!-- start: search & user box -->
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										{% if user.employer %}
											<a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
												<i class="fa fa-home" aria-hidden="true"></i>
												<span>Business Dashboard</span>
											</a>
										{% else %}
										<a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Freelancer Dashboard</span>
										</a>
										{% endif %}
									</li>
									<li>
										{% if user.employee %}
											<a href="{% url 'dndsos_dashboard:f-profile' f_id=user.pk %}">
										{% else %}
											<a href="{% url 'dndsos_dashboard:b-profile' b_id=user.pk %}">
										{% endif %}
											<i class="fa fa-user" aria-hidden="true"></i>
											<span>Profile</span>
										</a>
									</li>
									{% if user.employer %}
										<li>
											<a href="{% url 'dndsos_dashboard:freelancers' b_id=user.pk %}">
												<i class="fa fa-group" aria-hidden="true"></i>
												<span>Freelancers</span>
											</a>
										</li>
	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:orders' b_id=user.pk %}">
												<i class="fa fa-file-text" aria-hidden="true"></i>
												<span>Orders</span>
											</a>
    	                                </li>
	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:b-alerts' b_id=user.pk %}">
												<i class="fa fa-file-text" aria-hidden="true"></i>
												<span>Alerts</span>
											</a>
    	                                </li>

	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:b-messages' b_id=user.pk %}">
												<i class="fa fa-send" aria-hidden="true"></i>
												<span>Messages</span>
											</a>
    	                                </li>
										<!-- <li>
											<a href="{% url 'dndsos_dashboard:b-statistics' b_id=user.pk %}">
												<i class="fa fa-bar-chart-o" aria-hidden="true"></i>
												<span>Statistics</span>
											</a>
										</li> -->
									{% else %}
										<li>
											<a href="{% url 'orders:open-orders' %}">
												<i class="fa fa-tasks" aria-hidden="true"></i>
												<span>Open Offers</span>
											</a>
										</li>
										<li>
											<a href="{% url 'dndsos_dashboard:f-active-deliveries' f_id=user.pk %}">
												<i class="fa fa-tasks" aria-hidden="true"></i>
												<span>Active Deliveries</span>
											</a>
										</li>
										<li>
											<a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}">
												<i class="fa fa-tasks" aria-hidden="true"></i>
												<span>Deliveries Summary</span>
											</a>
										</li>
										<li>
											<a href="{% url 'dndsos_dashboard:f-businesses' f_id=user.pk %}">
												<i class="fa fa-building" aria-hidden="true"></i>
												<span>Businesses</span>
											</a>
										</li>
	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:f-messages' f_id=user.pk %}">
												<i class="fa fa-send" aria-hidden="true"></i>
												<span>Messages</span>
											</a>
    	                                </li>
										<!-- <li>
											<a href="{% url 'dndsos_dashboard:f-statistics' f_id=user.pk %}">
												<i class="fa fa-bar-chart-o" aria-hidden="true"></i>
												<span>Statistics</span>
											</a>
										</li> -->
									{% endif %}
								</nav>
				
							<hr class="separator" />

						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

                {% block content %}
                <!-- CONTENT -->
                {% endblock content %}

			</div>

			<!-- <aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="{% static 'assets/images/sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="{% static 'assets/images/sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="{% static 'assets/images/sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="{% static 'assets/images/sample-user.jpg' %}" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>
			
						</div>
					</div>
				</div>
			</aside> -->
		</section>
		
		{% include 'dndsos_dashboard/partials/_message-sent-modal.html' %}
		{% include 'dndsos_dashboard/partials/_order-settled-modal.html' %}

		<!-- Vendor -->
		<!-- DATA TABLE -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.4/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.0/sl-1.3.1/datatables.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			  })
		</script>		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'assets/javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>

		<!-- Alerts -->
		<script src="{% static 'assets/javascripts/ui-elements/examples.notifications.js' %}"></script>

		<!-- Websocket -->
		<script src="{% static '/channels/js/websocketbridge.js' %}" type="text/javascript"></script>
		
		{% if user.is_employee %}

			{% include 'dndsos_dashboard/partials/_f-offer-modal.html' %}
			{% include 'dndsos_dashboard/partials/_f-offer-removed-modal.html' %}

			<!-- ------------------ -->
			<!-- FREELANCER -->
			<!-- ------------------ -->
			<script>
				// Open the Freelancer Socket
				console.log('NEW FREELANCER WS')
				const freelancerSocket = new WebSocket(
					'ws://'
					+ window.location.host
					+ '/ws/orders/'
				);
	
				let data;
				let current_order_id;
				let user_id = '{{ user.pk }}'
				
				// Handling incoming message about new offer from business
				freelancerSocket.onmessage = function(e) {
					console.log(`DATA RECEIVED: ${e.data}`);
					data = JSON.parse(e.data);
					const data_string = JSON.stringify(e.data);

					//document.querySelector('#chat-log').value += (data.message + '\n');
					const pick_up_address_e = document.querySelector('#pick_up_address');
					const drop_off_address_e = document.querySelector('#drop_off_address');
					const notes_e = document.querySelector('#notes');
					const order_id = data.data.order_id
					const order_status = data.data.status
					const freelancer = data.data.freelancer
					const message_title = data.data.title

					let pick_up_address = data.data.pick_up_address;
					let drop_off_address = data.data.drop_off_address;
					$("#pick_up_address").html(pick_up_address)
					$("#drop_off_address").html(drop_off_address)
					$("#notes").html(data.data.notes)
					
					if (order_status == 'REQUESTED' && current_order_id != order_id) {
						$("#newOfferAlert").modal("show");
						update_freelancer_notifications()
					}


					if (order_status == 'RE_REQUESTED' && current_order_id != order_id) {
						$("#newOfferAlert").modal("show");
					}

					current_order_id = order_id

					console.log(`freelancer: ${freelancer}  user_id: ${user_id}`)

					// When freelancer tries to accept an order that was already allocated
					if (order_status == 'STARTED' && data.data.freelancer != user_id){
						$('#orderRemoved').modal("show");
						update_freelancer_notifications()
					} else if (order_status == 'ARCHIVED' && freelancer == user_id){
						$('#orderRemoved').modal("show");
						update_freelancer_notifications()
					} else {
						update_freelancer_notifications()
					}

					//Handling direct messages
					if (message_title == 'Direct Invitation'){
						requested_freelancer = data.data.requested_freelancer
						freelancerSocket.send(JSON.stringify({
							'type': 'update.order', 
							'data': {
								'event': 'Direct Invitation',
								'order_id': order_id,
								'freelancer': user_id,
							}
						}));
					}


				};


				// Handing the acceptance of an offer
				$("#accept").click( function() {
					$('#newOfferAlert').modal('hide');
					
					let freelancer_id = "{{ user.pk }}"
					let freelancer_username = "{{ user.username }}"
					let freelancer_name = "{{ user.employee.name }}"
					let freelancer_email = "{{ user.email }}"
					let freelancer_phone = "{{ user.employee.phone }}"
					console.log(`ACCEPTED!!  USERNAME: ${freelancer_username}`)
					
					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Accepted',
							'order_id': data.data.order_id,
							'freelancer': freelancer_id,
							'pick_up_address': data.data.pick_up_address,
							'drop_off_address': data.data.drop_off_address,
							'status': 'STARTED',
							'city': 'cityPlaceHolder'
						}
					}));

					// Refresh the table to update the accepted order
					$.ajax({
						url: "{% url 'orders:deliveries-table' %}",
						success: function(response) {
							$('#deliveriesTable').html(response);
						}
					})							
				})

				accept_order = function(order_id,pick_up_address, drop_off_address){
					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Accepted',
							'order_id': order_id,
							'freelancer': user_id,
							'pick_up_address': pick_up_address,
							'drop_off_address': drop_off_address,
							'status': 'STARTED',
							'city': 'cityPlaceHolder'
						}
					}));
				}

				f_cancel_order = function(id) {
					console.log(`Freelancer canceling Order ID ${id}`)
					$(`#fCancelOrder_${id}`).modal('hide');
					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Canceled',
							'order_id': id,
							'freelancer': user_id,
							'status': 'REJECTED'
						}
					}));
				}

				// Handing the delivery completion
				delivered = function(order_id,pup,drop) {
					console.log(`DELIVERED!!`)
					current_order_id = order_id

					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Delivered',
							'order_id': order_id,
							'freelancer': user_id,
							'pick_up_address': pup,
							'drop_off_address': drop,
							'status': 'COMPLETED',
							'city': 'cityPlaceHolder'
						}
					}));

					if (current_order_id != order_id) {
						$("#newOfferAlert").modal("show");
						current_order_id = order_id
					}
					
					// Refresh the table to update the accepted order
					$.ajax({
						url: "{% url 'orders:deliveries-table' %}",
						success: function(response) {
							$('#deliveriesTable').html(response);
						}
					})		
				}
	
		update_freelancer_notifications = function(){
			$.ajax({
				url: "{% url 'orders:deliveries-table' %}",
				success: function(response) {
					$('#deliveriesTable').html(response);
				}
			})
			$.ajax({
				url: "{% url 'orders:open-orders-alerts' %}",
				success: function(response){
					$('#openOrdersAlerts').html(response);
				}
			})

			$.ajax({
				url: "{% url 'orders:open-orders-list' %}",
				success: function(response){
					$('#openOrdersList').html(response);
				}
			})

			$.ajax({
				url: "{% url 'orders:freelancer-messages-list' %}",
				success: function(response){
					$('#freelancerMessagesAlerts').html(response);
				}
			})

			$.ajax({
				url: "{% url 'dndsos_dashboard:f-messages-list' f_id=user.pk %}",
				success: function(response) {
					$('#messagesList').html(response);
				}
			})    
			
			$.ajax({
				type: 'GET',
				url: "{% url 'orders:active-deliveries-list' %}",
				async:false,
				success: function(response) {
					$('#activeDeliveriesList').html(response);
				}		
			});		

		}


		</script>

			<!-- Freelancer open orders table -->
		<script>
			$(document).ready(function() {
				$.ajax({
					type: 'GET',
					url: "{% url 'orders:open-orders-alerts' %}",
					async:false,
					success: function(response) {
						//console.log(response);
						$('#openOrdersAlerts').html(response);
					}		
				});

				$.ajax({
					url: "{% url 'orders:freelancer-messages-list' %}",
					success: function(response){
						$('#freelancerMessagesAlerts').html(response);
					}
				})

			});

		</script>

	
		{% else %}
			<!-- <script src="{% static 'assets/javascripts/employer_alerts.js' %}" ></script> -->
			
			<!-- ------------------ -->
				<!-- BUSINESS -->
			<!-- ------------------ -->
			<script>
				//Open business socket
				console.log('BUSIENSS ORDER WS READY!')
				const businessSocket = new WebSocket(
					'ws://'
					+ window.location.host
					+ '/ws/orders/'
			
				);    

				let user_id = "{{ user.pk }}"
				let user_username = "{{ user.username }}"
				let user_name = "{{ user.employer.business_name }}"
				let user_email = "{{ user.email }}"
				let street = "{{ user.employer.street }}"
				let building = "{{ user.employer.building_number }}"
				let city = "{{ user.employer.city }}"
				let pick_up_address = building + ' ' + street + ', ' + city
				
				addOrder = function(e) {
					const street_e = document.querySelector('#street');
					const building_e = document.querySelector('#building');
					const city_e = document.querySelector('#city');
					const notes_e = document.querySelector('#notes');

					const street = street_e.value;
					const building = building_e.value;
					const city = city_e.value;
					const notes = notes_e.value;

					if (city === "" || building == "" || street == ""){
						if (city === ""){
							alert("Please input the City");
						} else if (building == ""){
							alert("Building number is missing");
						} else {
							alert("Street is missing");
						}
						return false;
					}
			

					const drop_off_address = building + ' ' + street + ', ' + city

					businessSocket.send(JSON.stringify({
						'type': 'create.order', 
						'data': {
							'event': 'Create Order',
							'business': user_id,
							'business_name': user_name,
							'pick_up_address': pick_up_address,
							'drop_off_address': drop_off_address,
							'notes': notes
						}
					}));

					// Reload only the order table.
					$.ajax({
						url: "{% url 'orders:orders-table' %}",
						success: function(response) {
							$('#ordersTable').html(response);
						}
					})		

					$('#modalAddOrder').modal('hide');
										
				};

				b_cancel_order = function(id) {
					console.log(`Business canceling Order ID ${id}`)
					$(`#bCancelOrder_${id}`).modal('hide');
					businessSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Canceled',
							'order_id': id,
							'business': user_id,
							'status': 'ARCHIVED'
						}
					}));
				}
				/*
				*/
				// Handing the dispatch (pick-up) of an offer
				pickedup = function(id,pup,drop) {
					console.log(`PICKED UP!!`)
					let order_id = id;
					let business_id = "{{ user.pk }}";
					current_order_id = order_id
					
					businessSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Picked Up',
							'order_id': order_id,
							'business': business_id,
							'pick_up_address': pup,
							'drop_off_address': drop,
							'status': 'IN_PROGRESS',
							'city': 'cityPlaceHolder-Pickup'
						}
					}));
					
					// Refresh the table to update the dispached/pickedup order
					$.ajax({
						url: "{% url 'orders:orders-table' %}",
						success: function(response) {
							$('#ordersTable').html(response);
						}
					})		
				}

				// Handling incoming message about new offer
				businessSocket.onmessage = function(e) {
					data = JSON.parse(e.data);
					const data_string = JSON.stringify(e.data);
					console.log(`DATA RECEIVED: ${data.data} ORDER ID: ${data.data.order_id} Freelancer: ${data.data.freelancer}`);

					// Refresh the table to update the accepted order
					$.ajax({
						url: "{% url 'orders:orders-table' %}",
						success: function(response) {
							$('#ordersTable').html(response);
						}
					});		

					// Refresh the alerts table
					$.ajax({
						url: "{% url 'orders:business-alerts-list' %}",
						success: function(response) {
							$('#businessOrdersAlerts').html(response);
						}
					});		

					// Refresh the messages list
					$.ajax({
						url: "{% url 'orders:business-messages-list' %}",
						success: function(response) {
							$('#businessMessagesAlerts').html(response);
						}
					});		
					
					// Refresh business alerts items page
					let url = "{% url 'dndsos_dashboard:b-alerts-items' b_id=user.pk %}"
					$.ajax({
						type: 'GET',
						url: url,
						async:false,
						success: function(response) {
							$("#b_alerts_items").html(response)
						}		
					});
			

				};

				broadcast_order = function(order_id, pick_up_address, drop_off_address, notes){
					console.log('REQUESTING FREELANCER...')
					// Broadcast a request for an excisting order
					businessSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Request Freelancer',
							'order_id': order_id,
							'business': user_id,
							'business_name': user_name,
							'pick_up_address': pick_up_address,
							'drop_off_address': drop_off_address,
							'notes': notes,
							'status': 'RE_REQUESTED'
						}
					}));


				}

			</script>
			<!-- Business Alerts -->
			<script>
				$(document).ready(function() {
					$.ajax({
						type: 'GET',
						url: "{% url 'orders:business-alerts-list' %}",
						async:false,
						success: function(response) {
							//console.log(response);
							$('#businessOrdersAlerts').html(response);
						}		
					});

					$.ajax({
						url: "{% url 'orders:business-messages-list' %}",
						success: function(response) {
							$('#businessMessagesAlerts').html(response);
						}
					});		

				});

			</script>


		{% endif %}
		
	<!-- ORDERS Data Tables -->
	<!-- <script>		
		$(document).ready(function() {
			$('#ordersTable').DataTable({
				dom: '',
				dom: 'B<"clear">lfrtip',
				order: [[ 0, "desc" ]], // column 0 (first) ascending order. Or desc for descending
				/*
				*/
				buttons: {
					name: 'default',
					buttons: ['csv', 'excel', 'pdf']
				}
			})
		})
	</script> -->

	<!-- DELIVERIES Data Tables -->
	<!-- <script>		
		$(document).ready(function() {
			$('#deliveriesTable').DataTable({
				dom: '',
				dom: 'B<"clear">lfrtip',
				order: [[ 0, "desc" ]], // column 0 (first) ascending order. Or desc for descending
				/*
				*/
				buttons: {
					name: 'default',
					buttons: ['csv', 'excel', 'pdf']
				}
			})
		})
	</script> -->
	<!-- END DATA TABLE -->
	
	{% block js %}
	<!-- JS Block  -->
	{% endblock js %}


	</body>
</html>