{% load static %}
{% load i18n %}

<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

        <title>dilvur • Dashboard</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/images/dndsos-logo-white.png' %}">
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="DnD SOS Admin">
		<meta name="author" content="DnD-SOS">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'assets/vendor/morris/morris.css' %}" />


		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/theme-custom.css' %}">

		<!-- Datatables CSS -->
		<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.4/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.0/sl-1.3.1/datatables.min.css"/> -->


		<!-- Head Libs -->
		<script src="{% static 'assets/vendor/modernizr/modernizr.js' %}"></script>
		
		<style>
			@media screen and (max-width: 768px) {
				.mobile-top-margin {
				   margin-top: 17px;
				}
				.mobile-bottom-margin {
					margin-bottom: 17px;
				 }
 
			  }
		</style>

		<style>
			/*To show the double sided arrow for the horizontal scroll of the tables.*/
			.mobileShow {display: none;}
		
			/* Smartphone Portrait and Landscape */
			@media only screen
			  and (min-device-width : 320px)
			  and (max-device-width : 480px){ 
				.mobileShow {
					display:block;
					align-items: center;
				}
			}
		</style>
		

		<style>
			.mobilePic {max-width: 2000%;}
		
			/* Smartphone Portrait and Landscape */
			@media only screen
				and (min-device-width : 320px)
				and (max-device-width : 480px){ 
				.mobilePic {
					max-width: 10%;
				}
			}
		</style>

		<!-- Toggle button -->
		<!-- <link rel="stylesheet" href="{% static 'assets/stylesheets/toggle-button.css' %}"> -->

		<!-- Loader -->
		<link rel="stylesheet" href="{% static 'assets/stylesheets/loader.css' %}" />

	</head>
	<body>
		<div class="loading">Loading&#8230;</div>
		<section class="body">
			<!-- start: header -->
			<header class="header">
				<div class="row">
					<div class="col-md-2">
						<div class="logo-container">
							<a href="{% url 'dndsos:home' %}" class="logo">
								<img src="{% static 'assets/images/dilvur-logo-2.png' %}" height="45" alt="DnD-SOS Admin" />
								<!-- <img src="{% static 'assets/images/dndsos-logo-black.png' %}" height="35" alt="DnD-SOS Admin" /> -->
								<!-- <span class="h4"><b>DnDSOS</b></span> -->
							</a>
							<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
								<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
							</div>
						</div>		
					</div>
					<div class="col-md-5">
						{% include 'core/_messages.html' %}
					</div>
					<!-- <div class="col-md-2">
						<div class="header-center">
							<form action="{% url 'set_language' %}" method="POST">
								{% csrf_token %}
								<input type="hidden" name="text" value="{{ redirect_to }}">
								<select name="language" id="">
									{% get_available_languages as LANGUAGES %}
									{% get_language_info_list for LANGUAGES as languages %}
									{% for language in languages %}
										<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
											{{ language.name_local }} ({{ language.code }})
										</option>
									{% endfor %}
									<input class="btn btn-primary btn-sm" type="submit" value="Go" style="margin-left: 1rem;">
								</select>
							</form>		
						</div>
					</div> -->
					<div class="col-md-5">
						<div class="header-right">
				
							<form action="pages-search-results.html" class="search nav-form">
								<div class="input-group input-search">
									<input type="text" class="form-control" name="q" id="q" placeholder="Search...">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</form>
					
							<span class="separator"></span>
					
							<ul class="notifications">
								{% if user.is_employee %}
								<li>
									{% if is_available %}
										<a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}" class="btn btn-success" 	data-toggle="">
											<i class="fa fa-bell">{% trans 'Available' %}</i>
											<span class=""></span>
										</a>
									{% else %}
									<a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}" class="btn btn-danger" 	data-toggle="">
										<i class="fa fa-bell">{% trans 'Unavailable' %}</i>
										<span class=""></span>
									</a>
									{% endif %}
								</li>
								{% endif %}
								<li>
									{% if user.is_employee %}
										<div id="freelancerMessagesAlerts">
											<!-- Freelancer Messages alerts List-->
										</div>
									{% elif user.is_employer %}
										<div id="businessMessagesAlerts">
											<!-- Businee Messages alerts List-->
										</div>
									{% endif %}
								</li> 
								<li>
									{% if user.is_employee %}
										<div id="openOrdersAlerts">
											<!-- Open Orders alerts -->
										</div>
									{% elif user.is_employer %}
										<div id="businessOrdersAlerts">
											<!-- Order alerts -->
										</div>
									{% endif %}
								</li>
							</ul>
					
							<span class="separator"></span>
					
							<div id="userbox" class="userbox">
								<a href="#" data-toggle="dropdown">
									<figure class="profile-picture">
										{% if user.is_employer %}
										<img src="{% if user.business.profile_pic %}{{user.business.profile_pic.url}} {% else %} {% static 'assets/images/no-img.jpg' %} {% endif %}" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/logged-user.jpg' %}" />
										{% else %}
										<img src="{% if user.freelancer.profile_pic %}{{user.freelancer.profile_pic.url}} {% else %} {% static 'assets/images/no-img.jpg' %} {% endif %}" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/logged-user.jpg' %}" />
										{% endif %}
									</figure>
									<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@DnD SOS.com">
										<span class="name">{% if user.is_employee %}  {{ user.freelancer.name }} {% else %} {{ user.business.business_name }} {% endif %}</span>
										<span class="role">{% if user.is_staff %}administrator{% else %}{% endif %}</span>
									</div>
					
									<i class="fa custom-caret"></i>
								</a>
					
								<div class="dropdown-menu">
									<ul class="list-unstyled">
										<li class="divider"></li>
										<li>
											{% if user.is_employee %}
												<a role="menuitem" tabindex="-1" href="{% url 'dndsos_dashboard:f-profile' f_id=user.pk %}"><i class="fa fa-user"></i> Profile</a>
											{% else %}
												<a role="menuitem" tabindex="-1" href="{% url 'dndsos_dashboard:b-profile' b_id=user.pk %}"><i class="fa fa-user"></i> Profile</a>
											{% endif %}
										</li>
										<li>
											<a role="menuitem" tabindex="-1" href="{% url 'core:logout' %}"><i class="fa fa-power-off"></i> Logout</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
		
					</div>
				</div>


				<!-- start: search & user box -->
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										{% if user.is_employer %}
											<a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
												<i class="fa fa-home" aria-hidden="true"></i>
												<span>{% trans 'Business Dashboard' %}</span>
											</a>
										{% else %}
											<a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>{% trans 'Carrier Dashboard' %}</span>
										</a>
										{% endif %}
									</li>
									<li>
										{% if user.is_employee %}
											<a href="{% url 'dndsos_dashboard:f-profile' f_id=user.pk %}">
										{% else %}
											<a href="{% url 'dndsos_dashboard:b-profile' b_id=user.pk %}">
										{% endif %}
											<i class="fa fa-user" aria-hidden="true"></i>
											<span>{% trans 'Profile' %}</span>
										</a>
									</li>
									{% if user.is_employer %}
										<li>
											<a href="{% url 'dndsos_dashboard:freelancers' b_id=user.pk %}">
												<i class="fa fa-group" aria-hidden="true"></i>
												<span>{% trans 'Carriers' %}</span>
											</a>
										</li>
	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:orders' b_id=user.pk %}">
												<i class="fa fa-tasks" aria-hidden="true"></i>
												<span>{% trans 'Orders' %}</span>
											</a>
    	                                </li>
	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:b-alerts' b_id=user.pk %}">
												<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
												<span>{% trans 'Alerts' %}</span>
											</a>
    	                                </li>

	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:b-messages' b_id=user.pk %}">
												<i class="fa fa-send" aria-hidden="true"></i>
												<span>{% trans 'Messages' %}</span>
											</a>
										</li>

										<!-- <li>
											<a href="{% url 'dndsos_dashboard:b-statistics' b_id=user.pk %}">
												<i class="fa fa-bar-chart-o" aria-hidden="true"></i>
												<span>Statistics</span>
											</a>
										</li> -->
									{% else %}
										<li>
											<a href="{% url 'orders:open-orders' %}">
												<i class="fa fa-tasks" aria-hidden="true"></i>
												<span>{% trans 'Open Orders' %}</span>
											</a>
										</li>
										<li>
											<a href="{% url 'dndsos_dashboard:f-active-deliveries' f_id=user.pk %}">
												<i class="fa fa-car" aria-hidden="true"></i>
												<span>{% trans 'Active Deliveries' %}</span>
											</a>
										</li>
										<li>
											<a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}">
												<i class="fa fa-table" aria-hidden="true"></i>
												<span>{% trans 'Deliveries Summary' %}</span>
											</a>
										</li>
										<li>
											<a href="{% url 'dndsos_dashboard:f-businesses' f_id=user.pk %}">
												<i class="fa fa-bank" aria-hidden="true"></i>
												<span>{% trans 'Businesses' %}</span>
											</a>
										</li>
	                                    <li>
                                        	<a href="{% url 'dndsos_dashboard:f-messages' f_id=user.pk %}">
												<i class="fa fa-send" aria-hidden="true"></i>
												<span>{% trans 'Messages' %}</span>
											</a>
    	                                </li>
										<!-- <li>
											<a href="{% url 'dndsos_dashboard:f-statistics' f_id=user.pk %}">
												<i class="fa fa-bar-chart-o" aria-hidden="true"></i>
												<span>Statistics</span>
											</a>
										</li> -->
									{% endif %}
								</nav>					
							<hr class="separator" />
							<div class="row">
								<div class="col-md-2 col-sm-2"></div>
								<form action="{% url 'set_language' %}" method="POST">
									{% csrf_token %}
									<input type="hidden" name="text" value="{{ redirect_to }}">
									<select name="language" id="">
										{% get_available_languages as LANGUAGES %}
										{% get_language_info_list for LANGUAGES as languages %}
										{% for language in languages %}
											<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
												{{ language.name_local }} ({{ language.code }})
											</option>
										{% endfor %}
										<input class="btn btn-primary btn-sm" type="submit" value="Go" style="margin-left: 1rem;">
									</select>
								</form>		
							</div>

						</div>
					</div>
				
				</aside>
				<!-- end: sidebar -->

                {% block content %}
                <!-- CONTENT -->
                {% endblock content %}

			</div>
			<div id="csrf">
				{% csrf_token %}
			</div>
		</section>
		
		{% include 'dndsos_dashboard/partials/_order-settled-modal.html' %}

		<!-- Vendor -->
		<!-- DATA TABLE -->
		<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/fc-3.3.1/kt-2.5.2/r-2.2.4/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.0/sl-1.3.1/datatables.min.js"></script> -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.js' %}"></script>
		<script src="{% static 'assets/vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>

		<!-- Toggle button -->
		<script src="{% static 'assets/vendor/ios7-switch/ios7-switch.js' %}"></script>


		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			  })
		</script>		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'assets/javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'assets/javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'assets/javascripts/theme.init.js' %}"></script>

		<!-- Alerts -->
		<script src="{% static 'assets/javascripts/ui-elements/examples.notifications.js' %}"></script>

		<!-- Websocket -->
		<script src="{% static '/channels/js/websocketbridge.js' %}" type="text/javascript"></script>
		
		{% if user.is_employee %}

			{% include 'dndsos_dashboard/partials/_f-offer-modal.html' %}
			{% include 'dndsos_dashboard/partials/_f-offer-removed-modal.html' %}
			{% include 'dndsos_dashboard/partials/_order-delivered-modal.html' %}

			<!-- ------------------ -->
			<!-- FREELANCER -->
			<!-- ------------------ -->
			<script>
				// Open the Freelancer Socket
				console.log('NEW FREELANCER WS')
				const scheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
				const freelancerSocket = new WebSocket(
					scheme
					+ window.location.host
					+ '/ws/orders/'
				);
	
				let data;
				let current_order_id;
				let user_id = '{{ user.pk }}'
				
				// Handling incoming message about new offer from business
				freelancerSocket.onmessage = function(e) {
					console.log(`FREELANCER DATA RECEIVED: ${e.data}`);
					data = JSON.parse(e.data);
					const data_string = JSON.stringify(e.data);

					const order_id = data.data.order_id;
					const order_status = data.data.status;
					const freelancer = data.data.freelancer;
					const message_title = data.data.title;
					const business_name = data.data.business_name;
					const created = data.data.created;

					let pick_up_address = data.data.pick_up_address;
					let drop_off_address = data.data.drop_off_address;
					$("#new_offer_delivery_type").html(data.data.order_type)
					$("#pick_up_address").html(pick_up_address);
					$("#drop_off_address").html(drop_off_address);
					//$("#new_offer_notes").html(data.data.notes);
					
					{% if is_available %} // To prevent unavailable freelancers to receive new offer messages
					if (order_status == 'REQUESTED' && current_order_id != order_id) {
						console.log(`NEW ORDER`);
						$("#newOfferAlert").modal("show");
						update_freelancer_notifications();
					} else if (order_status == 'RE_REQUESTED' && current_order_id != order_id) {
						//$("#newOfferAlert").modal("show");
						update_freelancer_notifications();
					} else if (order_status == 'RE_REQUESTED' &&  freelancer == user_id) {
						update_freelancer_notifications();
					}

					{% endif %}
					current_order_id = order_id

					console.log(`freelancer: ${freelancer}  user_id: ${user_id}`)

					// When freelancer tries to accept an order that was already allocated
					if (order_status == 'STARTED' && data.data.freelancer != user_id){
						console.log('ORDER STARTED - Not the freelancer')
						$('#orderRemoved').modal("show");
						update_freelancer_notifications();
					
					} else if (order_status == 'STARTED' && data.data.freelancer == user_id){
						console.log(`ORDER STARTED - Freelancer ${user_id}`)
						update_freelancer_notifications();
						// Move to "Active Deliveries" page (same tab)
						window.location.replace("{% url 'dndsos_dashboard:f-active-deliveries' f_id=user.pk %}")
					
					// When a business removes the offer after freelancer's acceptance
					} else if (order_status == 'ARCHIVED' && data.data.freelancer == user_id){
						console.log('ORDER CANCELED');
						$("#business_name").html(business_name);
						$("#created").html(created);
						$("#canceled_drop_off_address").html(drop_off_address);
						$('#orderRemoved').modal("show");
						update_freelancer_notifications()
					
					} else if (order_status == 'ARCHIVED'){
						console.log('ORDER CANCELED (no freelancer)')
						$('#newOfferAlert').modal('hide');
						update_freelancer_notifications();

					// When freelancer tries to accept an order that was already allocated
					} else if (order_status == 'COMPLETED' && data.data.freelancer == user_id){
						console.log('DELIVERED!!!!!!!!!')
						$('#orderDeliveredModal').modal("show");
						update_freelancer_notifications();						
					} else {
						console.log('Updating tables...');
						update_freelancer_notifications();
					}

					if (data.data.chat_message){
						console.log(`CHAT: ${data.data.chat_message} order_ID: ${order_id}`)
						// Refresh the table to update the accepted order
						$.ajax({
							url: "{% url 'dndsos_dashboard:f-chat-room' f_id=user.pk %}",
							data: {
								oid: order_id
							},
							success: function(response) {
								$('#chatRoom').html(response);
							}
						})								
					}

					//Handling direct messages
					if (message_title == 'Direct Invitation'){
						console.log('Direct Invite')
						update_freelancer_notifications()
						requested_freelancer = data.data.requested_freelancer
						freelancerSocket.send(JSON.stringify({
							'type': 'update.order', 
							'data': {
								'event': 'Direct Invitation',
								'order_id': order_id,
								'freelancer': user_id,
							}
						}));
					}


				};


				// Handing the acceptance of an offer from the Modal
				$("#accept").click( function() {
					/* LOADER DISPLAY */
					$('.loading').show()

					$('#newOfferAlert').modal('hide');
					
					let freelancer_id = "{{ user.pk }}"
					let freelancer_username = "{{ user.username }}"
					let freelancer_name = "{{ user.freelancer.name }}"
					let freelancer_email = "{{ user.email }}"
					let freelancer_phone = "{{ user.freelancer.phone }}"
					console.log(`ACCEPTED!!  USERNAME: ${freelancer_username}`)
					
					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Accepted',
							'order_id': data.data.order_id,
							'freelancer': freelancer_id,
							'pick_up_address': data.data.pick_up_address,
							'drop_off_address': data.data.drop_off_address,
							'status': 'STARTED',
							'city': 'cityPlaceHolder'
						}
					}));

					// Refresh the table to update the accepted order
					$.ajax({
						url: "{% url 'orders:deliveries-table' %}",
						success: function(response) {
							$('#deliveriesTable').html(response);
						}
					})							
				})

				accept_order = function(order_id){
					/* LOADER DISPLAY */
					$('.loading').show()
					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Accepted',
							'order_id': order_id,
							'freelancer': user_id,
							'status': 'STARTED',
							'city': 'cityPlaceHolder'
						}
					}));
				}

				f_cancel_order = function(id) {
					console.log(`Freelancer canceling Order ID ${id}`)
					$(`#fCancelOrder_${id}`).modal('hide');
					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Freelancer Canceled',
							'order_id': id,
							'freelancer': user_id,
							'status': 'REJECTED'
						}
					}));
				}

				// Handing the delivery completion
				delivered = function(order_id,pup,drop) {
					/* LOADER DISPLAY */
					$('.loading').show()

					console.log(`DELIVERED!!`)
					current_order_id = order_id

					freelancerSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Delivered',
							'order_id': order_id,
							'freelancer': user_id,
							'pick_up_address': pup,
							'drop_off_address': drop,
							'status': 'COMPLETED',
							'city': 'cityPlaceHolder'
						}
					}));

					if (current_order_id != order_id) {
						$("#newOfferAlert").modal("show");
						current_order_id = order_id
					}
					
					// Refresh the table to update the accepted order
					$.ajax({
						url: "{% url 'orders:deliveries-table' %}",
						success: function(response) {
							$('#deliveriesTable').html(response);
						}
					})		
				}
	
		update_freelancer_notifications = function(){
			$.ajax({
				url: "{% url 'orders:deliveries-table' %}",
				success: function(response) {
					$('#deliveriesTable').html(response);
				}
			})
			$.ajax({
				url: "{% url 'orders:open-orders-alerts' %}",
				success: function(response){
					$('#openOrdersAlerts').html(response);
				}
			})

			$.ajax({
				url: "{% url 'orders:open-orders-list' %}",
				success: function(response){
					$('#openOrdersList').html(response);
				}
			})

			$.ajax({
				url: "{% url 'dndsos_dashboard:f-messages-list' f_id=user.pk %}",
				success: function(response) {
					$('#messagesList').html(response);
				}
			})    
			
			$.ajax({
				type: 'GET',
				url: "{% url 'orders:active-deliveries-list' %}",
				async:false,
				success: function(response) {
					$('#activeDeliveriesList').html(response);
					$('.loading').hide()
				}		
			});		

			/*TODO
			//to avoid the alerts on the messages pag			
			let chat_page_check = document.querySelector("#chat_page").innerHTML
			if(chat_page_check != 'Messages Related to Orders'){

			}
			*/
			
			$.ajax({
				url: "{% url 'orders:freelancer-messages-list' %}",
				success: function(response){
					$('#freelancerMessagesAlerts').html(response);
				}
			})

			$.ajax({
				url: "{% url 'dndsos_dashboard:f-chat-room' f_id=user.pk %}",
				data: {
					oid: data.data.order_id
				},
				success: function(response) {
					$('#chatRoom').html(response);
				}
			})								


		}


		</script>

			<!-- Freelancer open orders table -->
		<script>
			$(document).ready(function() {
				$.ajax({
					type: 'GET',
					url: "{% url 'orders:open-orders-alerts' %}",
					async:false,
					success: function(response) {
						//console.log(response);
						$('#openOrdersAlerts').html(response);
					}		
				});

				$.ajax({
					url: "{% url 'orders:freelancer-messages-list' %}",
					success: function(response){
						$('#freelancerMessagesAlerts').html(response);
					}
				})

			});

		</script>

		<!-- Freelancer GEO Location -->
		{% if is_available %}
		
		<script>

			if (document.documentElement.clientWidth < 600) { /* Run only on mobile devices!! */
				// scripts
				let lat;
				let lon;

				(function geoFindMe() {
					//console.log(`STATE: ${freelancerSocket.readyState}`)

					function success(position) {
						lat  = position.coords.latitude;
						lon = position.coords.longitude;			  
						//console.log(`Latitude: ${lat} °, Longitude: ${lon} °`);

				}

					let csrf = document.getElementsByName("csrfmiddlewaretoken");
					csrf_value = csrf[0].getAttribute("value");
					
					$.ajax({
						url: "{% url 'geo:freelancer-location' %}",
						type: "POST",
						data: {
							csrfmiddlewaretoken: csrf_value,
							user_id: user_id,
							lat: lat,
							lon: lon
						},
						success: function(response) {
							//$('#chatRoom').html(response);
							console.log(`AJAX OK. USER ${user_id}`)
						}
					})								
		
				
					function error() {
					console.log('Unable to retrieve your location');
					}
				
					if(!navigator.geolocation) {
						console.log('Geolocation is not supported by your browser');
					} else {
					navigator.geolocation.getCurrentPosition(success, error);
					}

					setTimeout(geoFindMe, 5000);
					
					console.log(`LOCATION: LON ${lon}  LAT ${lat}`)
				})();	
			//$(window).on('load',geoFindMe);
			}
		</script>
		{% endif %}

	
	{% else %}
			<!-- <script src="{% static 'assets/javascripts/employer_alerts.js' %}" ></script> -->
			
			<!-- ------------------ -->
				<!-- BUSINESS -->
			<!-- ------------------ -->
			<script>
				//Open business socket
				const scheme = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
				console.log('BUSIENSS ORDER WS READY!')
				const businessSocket = new WebSocket(
					scheme
					+ window.location.host
					+ '/ws/orders/'
			
				);    

				let user_id = "{{ user.pk }}"
				let user_username = "{{ user.username }}"
				let user_name = "{{ user.business.business_name }}"
				let user_email = "{{ user.email }}"
				let street = "{{ user.business.street }}"
				let building = "{{ user.business.building_number }}"
				let city = "{{ user.business.city }}"
				let pick_up_address = building + ' ' + street + ', ' + city
				
				addOrder = function(e) {
					/* LOADER DISPLAY */
					$('.loading').show()

					//$('.inProgress').show()

					//const street_e = document.querySelector('#street');
					//const notes_e = document.querySelector('#notes');
					let order_city_e = document.querySelector('#city');
					let order_city_symbol = order_city_e.value
					let order_city_name = order_city_e.options[order_city_e.selectedIndex].text

					let order_street_symbol = 'none';
					let order_street_name = 'none';
					try {
						order_street_symbol_e = document.querySelector('#city_streets');
						order_street_symbol = order_street_symbol_e.value
						order_street_name = order_street_symbol_e.options[order_street_symbol_e.selectedIndex].text;
					} catch {
						alert('Please select City.')
						return
					}
					
					let order_building = document.querySelector('#building').value;
					const freelancer = document.querySelector('#freelancer').value;
					
					console.log(`Street : ${order_street_symbol}  City: ${order_city_symbol} Building: ${order_building}`)

					if (order_city_symbol === "none" || order_building == "" || order_street_symbol == 'none'){
						if (order_city_symbol === "none"){
							alert("Please input the City");
						} else if (order_street_symbol == 'none'){
							alert("Street is missing");
						} else {
							alert("Building number is missing");
						}
						return false;
					}
			
					//order_street_name = order_street_name.replace('\'','')
					let drop_off_address = order_building + ' ' + order_city_name + ', ' + order_street_name
					//let drop_off_address = order_building + ' ' + order_street_symbol + ', ' + order_city_symbol
					console.log(`Order address: ${drop_off_address}`)


					businessSocket.send(JSON.stringify({
						'type': 'create.order', 
						'data': {
							'event': 'Create Order',
							'business': user_id,
							'business_name': user_name,
							'order_city_name': order_city_name,
							'order_city_symbol': order_city_symbol,
							'order_street_name': order_street_name,
							'order_street_symbol': order_street_symbol,
							'pick_up_address': pick_up_address,
							'drop_off_address': drop_off_address,
							//'notes': notes,
							'select_freelancers':freelancer
						}
					}));

					// Reload only the order table.
					$.ajax({
						url: "{% url 'orders:orders-table' %}",
						success: function(response) {
							$('#ordersTable').html(response);
						}
				})		

					$('#modalAddOrder').modal('hide');

				};

				b_cancel_order = function(id) {
					console.log(`Business canceling Order ID ${id}`)
					$(`#bCancelOrder_${id}`).modal('hide');
					businessSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Canceled',
							'order_id': id,
							'business': user_id,
							'status': 'ARCHIVED'
						}						
					}));

					// Reload the order table.
					$.ajax({
						url: "{% url 'orders:orders-table' %}",
						success: function(response) {
							$('#ordersTable').html(response);
						}
					})		
					// Refresh the alerts table
					$.ajax({
						url: "{% url 'orders:business-alerts-list' %}",
						success: function(response) {
							$('#businessOrdersAlerts').html(response);
						}
					});		
					// Refresh business alerts items page
					let url = "{% url 'dndsos_dashboard:b-alerts-items' b_id=user.pk %}"
					$.ajax({
						type: 'GET',
						url: url,
						async:false,
						success: function(response) {
							$("#b_alerts_items").html(response)

							/* Loader hide */
							$('.loading').hide()

						}		
					});

				}
				/*
				*/
				// Handing the dispatch (pick-up) of an offer
				pickedup = function(id,pup,drop) {
					console.log(`PICKED UP!!`)
					let order_id = id;
					let business_id = "{{ user.pk }}";
					current_order_id = order_id
					
					businessSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Order Picked Up',
							'order_id': order_id,
							'business': business_id,
							'pick_up_address': pup,
							'drop_off_address': drop,
							'status': 'IN_PROGRESS',
							'city': 'cityPlaceHolder-Pickup'
						}
					}));
					
					// Refresh the table to update the dispached/pickedup order
					$.ajax({
						url: "{% url 'orders:orders-table' %}",
						success: function(response) {
							$('#ordersTable').html(response);
						}
					})		
				}

				// Handling incoming message about new offer
				businessSocket.onmessage = function(e) {
					data = JSON.parse(e.data);
					const data_string = JSON.stringify(e.data);
					console.log(`DATA RECEIVED: ${data.data} ORDER ID: ${data.data.order_id} Freelancer: ${data.data.freelancer}`);

					/*  Show loader  */
					$('.loading').show()
					// Refresh the table to update the accepted order
					$.ajax({
						url: "{% url 'orders:orders-table' %}",
						success: function(response) {
							$('#ordersTable').html(response);

						}
					});		

					// Refresh the alerts table
					$.ajax({
						url: "{% url 'orders:business-alerts-list' %}",
						success: function(response) {
							$('#businessOrdersAlerts').html(response);
						}
					});		

					// Refresh the messages list
					$.ajax({
						url: "{% url 'orders:business-messages-list' %}",
						success: function(response) {
							$('#businessMessagesAlerts').html(response);
						}
					});		
					
					// Refresh business alerts items page
					let url = "{% url 'dndsos_dashboard:b-alerts-items' b_id=user.pk %}"
					$.ajax({
						type: 'GET',
						url: url,
						async:false,
						success: function(response) {
							$("#b_alerts_items").html(response)
							$('.loading').hide()
						}		
					});
			

				};

				broadcast_order = function(order_id, pick_up_address, drop_off_address /*,notes*/){
					console.log('REQUESTING FREELANCER...')
					// Broadcast a request for an excisting order
					$("#broadcastSent").modal("show");
					businessSocket.send(JSON.stringify({
						'type': 'update.order', 
						'data': {
							'event': 'Request Freelancer',
							'order_id': order_id,
							'business': user_id,
							'business_name': user_name,
							'pick_up_address': pick_up_address,
							'drop_off_address': drop_off_address,
							//'notes': notes,
							'status': 'RE_REQUESTED'
						}
					}));


				}

			</script>
			<!-- Business Alerts -->
			<script>
				$(document).ready(function() {
					$.ajax({
						type: 'GET',
						url: "{% url 'orders:business-alerts-list' %}",
						async:false,
						success: function(response) {
							//console.log(response);
							$('#businessOrdersAlerts').html(response);
						}		
					});

					$.ajax({
						url: "{% url 'orders:business-messages-list' %}",
						success: function(response) {
							$('#businessMessagesAlerts').html(response);
						}
					});		

				});

			</script>

		<!-- Business GEO Location -->
		<!-- <script>
			function geoFindMe() {

				function success(position) {
				  const latitude  = position.coords.latitude;
				  const longitude = position.coords.longitude;			  
				  console.log(`Latitude: ${latitude} °, Longitude: ${longitude} °`);
				  businessSocket.send(JSON.stringify({
					'type': 'user.location', 
					'data': {
						'event': 'User Location',
						'user_id': user_id,
						'lat': latitude,
						'lon': longitude,
						}
					}));
				}
			  
				function error() {
				  console.log('Unable to retrieve your location');
				}
			  
				if(!navigator.geolocation) {
					console.log('Geolocation is not supported by your browser');
				} else {
				  navigator.geolocation.getCurrentPosition(success, error);
				}

			}
				
			$(window).on('load',geoFindMe);
		</script> -->

		{% endif %}
		
	<!-- ORDERS Data Tables -->
	<!-- <script>		
		$(document).ready(function() {
			$('#ordersTable').DataTable({
				dom: '',
				dom: 'B<"clear">lfrtip',
				order: [[ 0, "desc" ]], // column 0 (first) ascending order. Or desc for descending
				/*
				*/
				buttons: {
					name: 'default',
					buttons: ['csv', 'excel', 'pdf']
				}
			})
		})
	</script> -->

	<!-- DELIVERIES Data Tables -->
	<!-- <script>		
		$(document).ready(function() {
			$('#deliveriesTable').DataTable({
				dom: '',
				dom: 'B<"clear">lfrtip',
				order: [[ 0, "desc" ]], // column 0 (first) ascending order. Or desc for descending
				/*
				*/
				buttons: {
					name: 'default',
					buttons: ['csv', 'excel', 'pdf']
				}
			})
		})
	</script> -->
	<!-- END DATA TABLE -->
	
	<script>
		$(document).ready(function() {
			console.log('GOing full screen')
			//document.documentElement.requestFullscreen();	
			window.scrollTo(0,1);
		})
	</script>

	{% block js %}
	<!-- JS Block  -->
	{% endblock js %}


	</body>
</html>