{% extends 'dndsos_dashboard/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% get_current_language as lang %}
{% include 'dndsos_dashboard/partials/_message-sent-modal.html' %}

<section role="main" class="content-body" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" /> -->
    
    <header class="page-header">
        <h2>{% trans 'Deliveries' %}</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>{% trans 'Deliveries' %}</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>

    </header>

    <!-- start: page -->
        <section class="panel">
            <div class="panel-body">
                <h3 class="">{% trans 'Deliveries Summary Table' %}</h3>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped mb-none display" id="deliveriesTable">
                        <!-- Dynamically updated deliveries table -->
                    </table>
                </div>

                <div class="row mobileShow center">
                    <i class='fa fa-arrows-h fa-3x'></i>
                </div>
            
            </div>
        </section>
    <!-- end: page -->
</section>

<script>
    
    $.ajax({
        url: "{% url 'orders:deliveries-table' %}",
        success: function(response) {
            $('#deliveriesTable').html(response);
        }
    })		
</script>


{% endblock content %}

