{% extends 'dndsos_dashboard/base.html' %}
{% load static %}

{% block content %}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Carrier Dashboard</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>
    </header>



    <!-- start: page -->
    <!-- Best Seller -->
    <div class="row">

        <!-- Best Seller -->
        <!-- Projects Stats -->
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-md-12 center">
                    {% if user.is_employee %}
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 0.5em;">
                            <!-- {% if user.is_available %}
                                <h2><label for="is_available" style="color: green;"><b>Status: Available</b></label></h2>
                            {% else %}
                                <h4><label for="is_available" style="color: red;"><b>Status: Unavailable</b></label></h4>
                            {% endif %} -->
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                Change status
                            </div>
                            <div class="row">
                                <form action="" enctype="multipart/form-data" method="POST" id="availability" name="availability">
                                {% csrf_token %}
                                    <div class="switch switch-lg switch-success">
                                        {% if is_available %}
                                            <input id="" type="submit" name="is_available" class="btn btn-lg btn-success" value="Available">
                                        {% else %}                                        
                                            <input id="" type="submit" name="not_available" class="btn btn-lg btn-danger" value="Unavailable">
                                        {% endif %}                                        
                                        <!-- <input id="is_available" type="checkbox" name="is_available" data-plugin-ios-switch {% if is_available %} checked="checked" {% else %} {% endif %}> -->
                                    </div>    
                                </form>
                        </div>
                        </div>
                    </div>
                {%endif%}
        
                </div>
            </div>

            <section class="panel">
                <header class="panel-heading panel-heading-transparent">
                    <div class="panel-actions">
                        <!-- <a href="#" class="fa fa-caret-down"></a> -->
                        <!-- <a href="#" class="fa fa-times"></a> -->
                    </div>

                    <h2 class="panel-title">Deliveries Summary</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped mb-none">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Order - Drop-off Address</th>
                                    <th>Started</th>
                                    <th>Status</th>
                                    <th>Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders_summary %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ order.order.drop_off_address }}</td>
                                    <td>{{ order.order.created }}</td>
                                    <td>
                                        {% if order.status == 'REJECTED' %}
                                        <span class="label label-danger">
                                        {% else %}
                                        <span class="label label-success">
                                        {% endif %}
                                            {{ order.order.status }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ order.order_hours }} hour/s and {{ order.order_minutes }} minute/s
                                        <!-- <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div> -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row mobileShow center">
                        <i class='fa fa-arrows-h fa-3x'></i>
                    </div>

                </div>
            </section>
        </div>
        <!-- Server Usage -->
        <div class="col-md-6 col-md-12">
            <section class="panel">
                <header class="panel-heading panel-heading-transparent">
                    <div class="panel-actions">
                        <!-- <a href="#" class="fa fa-caret-down"></a> -->
                        <!-- <a href="#" class="fa fa-times"></a> -->
                    </div>

                    <h2 class="panel-title">General Stats</h2>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-life-ring"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">Active Orders</h4>
                                                <div class="info">
                                                    <strong class="amount">{{ num_orders }}</strong>
                                                    <!-- <span class="text-primary">(14 unread)</span> -->
                                                </div>
                                            </div>
                                            <div class="summary-footer">
                                                <a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}" class="text-muted text-uppercase">(view all)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-secondary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-secondary">
                                                <i class="fa fa-usd"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">Total Profit</h4>
                                                <div class="info">
                                                    <strong class="amount">$ {{ total_profit }}</strong>
                                                </div>
                                            </div>
                                            <div class="summary-footer">
                                                <a class="text-muted text-uppercase">(withdraw)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-tertiary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-tertiary">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">Today's Deliveries</h4>
                                                <div class="info">
                                                    <strong class="amount">{{ num_daily_orders }}</strong>
                                                </div>
                                            </div>
                                            <div class="summary-footer">
                                                <a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}" class="text-muted text-uppercase">(view all)</a>
                                                <!-- <a class="text-muted text-uppercase">(statement)</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-quartenary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-quartenary">
                                                <i class="fa fa-users"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">Businesses Pool</h4>
                                                <div class="info">
                                                    <strong class="amount">{{ num_active_businesses }}</strong>
                                                    <div class="summary-footer">
                                                        <a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}" class="text-muted text-uppercase">(view all)</a>
                                                        <!-- <a class="text-muted text-uppercase">(statement)</a> -->
                                                    </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>          
    <!-- end: page -->
</section>

{% endblock content %}

{% block js %}


{% endblock js %}