{% extends 'dndsos_dashboard/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% get_current_language as lang %}

<section role="main" class="content-body" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <header class="page-header">
        <h2>{% trans 'Courier Dashboard' %}</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>{% trans 'Dashboard' %}</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>
    </header>



    <!-- start: page -->
    <!-- Best Seller -->
    <div class="row">

        <!-- Best Seller -->
        <!-- Projects Stats -->
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-md-12">
                    {% if user.is_employee %}
                    <div class="row">
                        <div class="col-md-8">
                            {% if user.freelancer.is_approved %} 
                            <h3>{% trans 'Your availability status is' %}: {% if user.freelancer.is_available %} <b>{% trans 'Available' %}</b> {% else %} <b>{% trans 'Unavailable' %}</b> {% endif %}</h3>
                            {% else %} 
                            <h4 style="color: red;"><i class="fa fa-exclamation"></i> {% trans 'Please complete your profile before changing the availability status' %}. 
                            </h4>                            
                            <h4><a class="btn" style="border:solid 2px green" href="{% url 'dndsos_dashboard:f-profile' f_id=user.pk %}">{% trans 'Go to Courier Profile' %}</a>
                            </h4>
                            {% endif %}
                            <h5>{%trans 'Use PickNdell mobile application to change your availabilty status' %}.</h5>
                            <h5>{% trans 'Dont have it yet' %}? <a href="{% static '/downloads/pickndell_mobile_android.apk' %}" download="">{% trans 'Download app here' %}</a></h5>
                        </div>
                        <!-- <div class="col-md-4">
                            {% if user.freelancer.is_active %}
                            <h6>{% trans 'Status cannot be changed while in the process of delivering' %}</h6>
                            <div class="row">
                                    <div class="switch switch-lg switch-success">
                                        <input id="" type="submit" name="is_available" class="btn btn-lg btn-success" value="{% trans 'Available' %}" disabled>
                                    </div>    
                                </form>
                            </div>
                            {% else %}
                            <div class="row">
                                <form action="" enctype="multipart/form-data" method="POST" id="availability" name="availability">
                                {% csrf_token %}
                                    <div class="switch switch-lg switch-success">
                                        {% if is_available %}
                                            <input id="" type="submit" name="is_available" class="btn btn-lg btn-danger" value="{% trans 'Change to Unvailable' %}" {% if user.freelancer.is_approved %} {% else %} disabled {% endif %}>
                                        {% else %}                                        
                                            <input id="" type="submit" name="not_available" class="btn btn-lg btn-success" value="{% trans 'Change to Available' %}" {% if user.freelancer.is_approved %} {% else %} disabled {% endif %}>
                                        {% endif %}                                        
                                    </div>    
                                </form>
                            </div>
                            {% endif %}
                        </div> -->
                    </div>
                {%endif%}
        
                </div>
            </div>

            <section class="panel">
                <header class="panel-heading panel-heading-transparent">
                    <div class="panel-actions">
                        <!-- <a href="#" class="fa fa-caret-down"></a> -->
                        <!-- <a href="#" class="fa fa-times"></a> -->
                    </div>

                    <h2 class="panel-title">{% trans 'Deliveries Summary' %}</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped mb-none">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans 'Order - Drop-off Address' %}</th>
                                    <th>{% trans 'Started' %}</th>
                                    <th>{% trans 'Status' %}</th>
                                    <th>{% trans 'Duration' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders_summary %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ order.order.drop_off_address }}</td>
                                    <td>{{ order.order.created }}</td>
                                    <td>
                                        {% if order.status == 'REJECTED' %}
                                        <span class="label label-danger">
                                        {% else %}
                                        <span class="label label-success">
                                        {% endif %}
                                            {{ order.order.status }}
                                        </span>
                                    </td>
                                    <td>
                                        {{ order.order_hours }} hour/s and {{ order.order_minutes }} minute/s
                                        <!-- <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div> -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row mobileShow center">
                        <i class='fa fa-arrows-h fa-3x'></i>
                    </div>

                </div>
            </section>
        </div>
        <!-- Server Usage -->
        <div class="col-md-6 col-md-12">
            <section class="panel">
                <header class="panel-heading panel-heading-transparent">
                    <div class="panel-actions">
                        <!-- <a href="#" class="fa fa-caret-down"></a> -->
                        <!-- <a href="#" class="fa fa-times"></a> -->
                    </div>

                    <h3 class="panel-title">{% trans 'General Stats' %}</h3>
                </header>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-life-ring"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">{% trans 'Active Orders' %}</h4>
                                                <div class="info">
                                                    <strong class="amount">{{ num_orders }}</strong>
                                                    <!-- <span class="text-primary">(14 unread)</span> -->
                                                </div>
                                            </div>
                                            <div class="summary-footer">
                                                <a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}" class="text-muted text-uppercase">({% trans 'view all' %})</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-secondary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-secondary">
                                                <i class="fa fa-usd"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">{% trans 'Total Profit' %}</h4>
                                                <div class="info">
                                                    <strong class="amount">$ {{ daily_profit }}</strong>
                                                </div>
                                            </div>
                                            <div class="summary-footer">
                                                <a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}" class="text-muted text-uppercase">({% trans 'details' %})</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-tertiary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-tertiary">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">{% trans 'Daily Deliveries' %}</h4>
                                                <div class="info">
                                                    <strong class="amount">{{ num_daily_orders }}</strong>
                                                </div>
                                            </div>
                                            <div class="summary-footer">
                                                <a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}" class="text-muted text-uppercase">({% trans 'view all' %})</a>
                                                <!-- <a class="text-muted text-uppercase">(statement)</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-6">
                            <section class="panel panel-featured-left panel-featured-quartenary">
                                <div class="panel-body">
                                    <div class="widget-summary">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-quartenary">
                                                <i class="fa fa-users"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">{% trans 'Businesses Pool' %}</h4>
                                                <div class="info">
                                                    <strong class="amount">{{ num_active_businesses }}</strong>
                                                    <div class="summary-footer">
                                                        <a href="{% url 'dndsos_dashboard:f-deliveries' f_id=user.pk %}" class="text-muted text-uppercase">({% trans 'view all' %})</a>
                                                        <!-- <a class="text-muted text-uppercase">(statement)</a> -->
                                                    </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>          
    <!-- end: page -->
</section>

{% endblock content %}

{% block js %}


{% endblock js %}