{% extends 'dndsos_dashboard/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/vendor/dropzone/css/basic.css' %}" />
<link rel="stylesheet" href="{% static 'assets/vendor/dropzone/css/dropzone.css' %}" />

    <section role="main" class="content-body">
					<header class="page-header">
						<h2>Freelancer Profile</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span> Profile</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
						</div>
					</header>

					<!-- start: page -->

					<div class="row">
						<div class="col-md-3 col-lg-2">
						</div>
						<div class="col-md-9 col-lg-7">

							<div class="tabs">
								<ul class="nav nav-tabs tabs-primary">
									<li class="active">
										<a href="#overview" data-toggle="tab">Overview</a>
									</li>
									<li>
										<a href="#edit" data-toggle="tab">Edit</a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="overview" class="tab-pane active">
										<h4>Profile Information -
											{% if profile.is_approved %} 
											<span style="color: green; border: solid green 2px; padding:0.5rem; border-radius: 2rem  " ><b>Approved</b></span> 
											{% else %}
											<span style="color: red;" ><b>Not Approved</b> 
												<span style="font-size: 1.5rem;">(Please complete profile)</span> 
											</span>
											{% endif %}

										</h4>
										<section class="panel panel-group">
											<header class="panel-heading bg-primary"> 
												<div class="widget-profile-info">
													<div class="profile-picture">
														<img src="{{ profile.profile_pic.url }}" alt="">
													</div>
													<div class="profile-info">
														<h4 class="name text-semibold">{{ profile.name }}</h4>
														<div class="profile-footer">
															<p class="text-left">Freelancer Vehicle: {{ profile.vehicle }}</p>
														</div>
													</div>
												</div>
											</header>
											<div class="panel-body">
												<p><b>Email</b>: {{ email }}</p>
												<p><b>Phone</b>: {{ profile.phone }}</p>
												<p><b>Business Type</b>: {{ profile.business_type }}</p>
												<p><b>Bio: </b> {{ profile.bio }}</p>
												<p><b>City:</b>{{ profile.city }}</p>
											</div>
										</section>
										<div class="widget-toggle-expand mb-md">
											<div class="widget-header">
												<h6>Profile Completion ({{ complete }}%)</h6>
												<div class="widget-toggle">+</div>
											</div>
											<div class="widget-content-collapsed">
												<div class="progress progress-xs light">
													<div class="progress-bar" role="progressbar" aria-valuenow="{{ complete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ complete }}%;">
														{{ complete }}
													</div>
												</div>
											</div>
											<div class="widget-content-expanded">
												<ul class="simple-todo-list">
													{% for required_field, is_completed in required_fields.items %}
													<li class="{% if is_completed %}completed{% else %}{% endif %}">{{ required_field }} </li>
													{% endfor %}
												</ul>
											</div>
										</div>


									</div>
									<div id="edit" class="tab-pane">

										<form class="form-horizontal" enctype="multipart/form-data" name="businessProfile" method="POST">
											{% csrf_token %}
											<h4 class="mb-xlg">Personal Information</h4>
												<fieldset>
													{% for non_field_error in form.non_field.errors %}
														<p class="help is-danger">{{ non_field_error }}</p>
													{% endfor %}
														<div class="form-group">
															<div class="row">
																<label class="col-md-3 control-label" for="">Name</label>
																<div class="col-md-8">{{ form.name }}</div>	
															</div>
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Phone Number</label>
																<div class="col-md-8">{{ form.phone }}</div>	
															</div>
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Vehicle</label>
																<div class="col-md-8">{{ form.vehicle }}</div>	
															</div>
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Short Bio</label>
																<div class="col-md-8">{{ form.bio }}</div>	
															</div>
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">City</label>
																<!-- <div class="col-md-8">{{ form.city }}</div> -->
																<div class="col-md-8">
																	<select id="city" name="city" class="form-control" required>
																		<option value="none">---------------</option>
																		{% for city in cities %}
																			<option value="{{ city.hebrew_name }}">{{ city.hebrew_name }}</option>
																		{% endfor %}
																	</select>								
																</div>
															</div>

															<div class="row" style="margin-top: 2%;">
																<label class="col-md-3 control-label" for="">ID Document</label>
																<div class="col-md-8">{{ form.id_doc }}</div>	
															</div>
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Active Hours</label>
																<div class="col-md-8">{{ form.active_hours }}</div>	
															</div>
															<div class="row" style="margin-top: 1%;">
																<label class="col-md-3 control-label" for="">Newsletter Optin</label>
																<div class="col-md-8">{{ form.newsletter_optin }}</div>
															</div>


														</div>
													<div class="row">
														<div class="col-3"></div>
														<div class="col-md-3 col-md-offset-3">
															<img src="{% if user.profile.profile_pic %}{{user.profile.profile_pic.url}} {% else %} {% static 'assets/images/no-img.jpg' %} {% endif %}" style='max-width:50%' id="preview" name="old_profile_pic" alt="Avatar">
															<span class="">
																<input type="file" id="profile_pic"  onchange="preview_image()" name="profile_pic">
															</span>
														</div>
													</div>
												</fieldset>
												<hr class="dotted tall">
												<a class="btn btn-warning" href="{% url 'password_change' %}" role="button">Change Password</a>

												<div class="panel-footer">
												<div class="row">
													<div class="col-md-9 col-md-offset-3">
														<button type="submit" class="btn btn-primary">Submit</button>
														<button type="reset" class="btn btn-default">Reset</button>
													</div>
												</div>
											</div>

										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end: page -->
    </section>
	<script src="{% static 'assets/vendor/fuelux/js/spinner.js' %}"></script>
	<script src="{% static 'assets/vendor/dropzone/dropzone.js' %}"></script>
	<script>
	function preview_image()
	{
	if(event.target.files.length > 0){
	   	$("#preview").attr('src', URL.createObjectURL(event.target.files[0]));
	   }
	}
	</script>
	<script type="application/javascript">
     
      
		$('#message').ready(function() {
			$('#exampleModal').modal({show:true});
			//$('#message').modal('hide');
		});
	</script>

{% endblock content %}