{% extends 'dndsos_dashboard/base.html' %}
{% load static %}

{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}

{% block content %}
{% include 'dndsos_dashboard/partials/_message-sent-modal.html' %}
<link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css"/>
<script src="//unpkg.com/leaflet/dist/leaflet.js"></script>
<style>
    /* Reference: http://www.javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml */
    @media screen and (min-width: 1024px){
        .freelancers-map {
            max-width: 1000px; 
            height: 500px; 
            margin-left: 2rem;
        }
    }
    @media screen and (max-device-width: 480px) and (orientation: portrait){
        .freelancers-map {
            max-width: 400px; 
            height: 500px; 
            margin-left: 0rem;
        }
      }

    @media screen and (max-device-width: 740px) and (orientation: landscape){
        .freelancers-map {
            max-width: 400px; 
            height: 500px; 
            margin-left: 1rem;
        }
      }
</style>


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Freelancers</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Freelancers</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>
    </header>

    <!-- start: page -->
        <div class="col-md-10 col-lg-10">
            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active">
                        <a href="#freelancers_map" data-toggle="tab">Freelancers Map</a>
                    </li>
                    <li class="">
                        <a href="#select_tab" data-toggle="tab">Select Freelancers</a>
                    </li>
                    <li >
                        <a href="#manage_tab" data-toggle="tab">Your Freelancers</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <!-- Freelancers Map tab -->
                    <div id="freelancers_map" class="tab-pane active">

                        <form action="" method="POST" enctype="multipart/form-data" id="b_select_freelancers" name="select_freelancers">
                            {% csrf_token %}
                            <div class="row" >
                                <div class="col-md-4">
                                    <h4>Active carriers around your business</h4>
                                    <p>There  {% if total_freelancers > 1 %}  are {% else %} is {% endif %}{{ total_freelancers }} active carriers.</p>
                                    <!-- <button type="submit" class="btn btn-warning" name="sort_by_city" type="button">Show all!</button> -->
                                </div>
                            </div>
    
                            <hr>
                
                            <div class="row">
                                <!-- Map -->
                                <div class="freelancers-map" id="m"></div>
                            </div>

                        </form>
                    </div> 
                    <!-- End Business freelancers tab -->
                    
                    <!-- Freelancers Tab -->
                    <div id="select_tab" class="tab-pane">
                        <form action="" method="POST" enctype="multipart/form-data" id="select_freelancers" name="select_freelancers">
                            {% csrf_token %}
                            <div class="row" >
                                <div class="col-md-4">
                                    <h4>Pick Available Carriers in range {{ max_range }} km</h4>
                                    <p>There  {% if total_freelancers > 1 %}  are {% else %} is {% endif %}{{ total_freelancers }} carriers available.</p>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-md">
                                        <label for="range_selector" style="margin-right: 2rem;">Range from carrier </label>
                                        <select name="range" id="range_selector">
                                            <option value="1.0">--------</option>
                                            <option value="1.0">1 km</option>
                                            <option value="5.0">5 km</option>
                                            <option value="10.0">10 km</option>
                                            <option value="15.0">15 km</option>
                                            <option value="20.0">20 km</option>

                                        </select>
                                        <label for="vehicle_selector" style="margin: 2rem;">Filter by Vehicle </label>
                                        <select name="vehicle" id="vehicle_selector">
                                            <option value="">--------------------</option>
                                            {% for vehicle in vehicles %}
                                            <option value="{{ vehicle }}">{{ vehicle }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="input-group-btn left">
                                            <button type="submit" class="btn btn-success" name="filter" type="button">Filter!</button>
                                        </span>
                                    </div>                    
                                </div>
                                <div class="col-md-2 left">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                {% for freelancer in freelancers %}
                                    <div class="col-md-3">
										<section class="panel">
											<header class="panel-heading bg-primary">
												<div class="panel-heading-profile-picture">
													<img src="{{ freelancer.profile_pic.url }}">
												</div>
											</header>
											<div class="panel-body">
												<h4 class="text-semibold mt-sm">{{ freelancer.name }}</h4>
												<p>Short bio: {{ freelancer.bio }} </p>
												<p>Vehicle: {{ freelancer.vehicle }} </p>
												<hr class="solid short">

                                                <div class="row">
                                                    <!-- Request Freelancer Button -->
                                                    <div class="col-md-12 text-center" >

                                                        <!-- Select Freelancer modal -->
                                                        <a class="mb-xs mt-xs mr-xs btn btn-success" data-toggle="modal" data-target="#selectFreelancer_{{ freelancer.pk }}">Request Freelancer</a>

                                                        <div class="modal fade" id="selectFreelancer_{{ freelancer.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">Which order would you like the freelancer for?</h4>
                                                                    </div>
                                                                    <div class="modal-body form-group">
                                                                         <select class="form-control" name="open_orders" id="open_orders_{{ freelancer.pk }}">
                                                                             <option value="">---------</option>
                                                                             {% for order in orders %}
                                                                                <option value="{{ order.order_id  }}">{{ order.drop_off_address }}</option>
                                                                             {% endfor %}
                                                                         </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" 
                                                                            id="freelancer_{{ freelancer.pk }}" 
                                                                            onclick="request_specific_freelancer('{{ freelancer.pk }}',false)" 
                                                                            class="btn btn-primary">Confirm
                                                                        </button>
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
											</div>
										</section>
                                    </div> 
                                {% endfor %}
                            </div>
                            </form>
                    </div>
                    <!-- End Freelancers tab -->

                    <!-- Business Freelancers tab -->
                    <div id="manage_tab" class="tab-pane ">

                        <form action="" method="POST" enctype="multipart/form-data" id="b_select_freelancers" name="select_freelancers">
                            {% csrf_token %}
                            <div class="row" >
                                <div class="col-md-4">
                                    <h4>Pick Available Freelancers From Your Pool</h4>
                                    <p>There  {% if num_freelancers_due_payment > 1 %}  are {% else %} is {% endif %}{{ num_freelancers_due_payment }} freelancers in your pool.</p>
                                    <!-- <button type="submit" class="btn btn-warning" name="sort_by_city" type="button">Show all!</button> -->
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col-md-3">
                                   <i class="fa fa-circle" style="color: #e36159;"></i><span> Means you need to pay them.</span>
                                </div>
                            </div>
 
                            <hr>
                
                            <div class="row">
                                {% for freelancer in b_freelancers %}
                                    <div class="col-md-4">
										<section class="panel">
                                            {% if freelancer.pk in freelancers_due_payment %}
											    <header class="panel-heading bg-secondary">
                                            {% else %}
											    <header class="panel-heading bg-primary">
                                            {% endif %}
                                            <div class="panel-heading-profile-picture">
                                                <img src="{{ freelancer.freelancer.profile_pic.url }}">
                                            </div>
											</header>
											<div class="panel-body">
												<h4 class="text-semibold mt-sm">{{ freelancer.employee.name }}</h4>
												<p>Email: {{ freelancer.email }} </p>
												<p>Short bio: {{ freelancer.freelancer.bio }} </p>
												<p>City: {{ freelancer.freelancer.city }} </p>
												<p>Vehicle: {{ freelancer.freelancer.vehicle }} </p>
												<hr class="solid short">
                                                <div class="row">
                                                    <!-- Request Freelancer Button -->
                                                    <div class="col-md-12 text-center" >

                                                        <!-- Select Freelancer modal -->
                                                        <a class="mb-xs mt-xs mr-xs btn btn-success" data-toggle="modal" data-target="#b_selectFreelancer_{{ freelancer.pk }}">Request Freelancer</a>

                                                        <div class="modal fade" id="b_selectFreelancer_{{ freelancer.pk }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">Which order would you like the freelancer for?</h4>
                                                                    </div>
                                                                    <div class="modal-body form-group">
                                                                         <select class="form-control" name="open_orders" id="b_open_orders_{{ freelancer.pk }}">
                                                                             <option value="">---------</option>
                                                                             {% for order in orders %}
                                                                                <option value="{{ order.order_id  }}">{{ order.drop_off_address }}</option>
                                                                             {% endfor %}
                                                                         </select>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" 
                                                                            id="b_freelancer_{{ freelancer.pk }}" 
                                                                            onclick="request_specific_freelancer('{{ freelancer.pk }}',true)" 
                                                                            class="btn btn-primary">Confirm
                                                                        </button>
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <hr>
                                                <h5>Payments Due</h5>
                                                <div class="table-responsive-sm">
                                                    <table class="table table-striped table-borderless table-hover table-sm" style="width:100%">
                                                        <thead>
                                                            <th style="width: 30%">Date</th>
                                                            <th style="width: 50%">Drop-off</th>
                                                            <th style="width: 20%"></th>
                                                        </thead>
                                                            <tbody>
                                                                {% for order in completed_orders %}
                                                                    {% if order.freelancer == freelancer.employee.user %}
                                                                        <tr>
                                                                            <td>{{ order.created }}</td>
                                                                            <td>{{ order.drop_off_address }}</td>
                                                                            <td style='text-align:center'>
                                                                                {% include './partials/_payment-modal.html' with order=order %}
                                                                            </td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </tbody>
                                                    </table>    
                                                </div>
											</div>
										</section>
                                    </div> 
                                {% endfor %}
                            </div>

                        </form>
                    </div> 
                    <!-- End Business freelancers tab -->
                    </div>
                </div>
            </div>
        </div>
    <!-- end: page -->
</section>
{% endblock content %}

{% block js %}
{% include 'dndsos_dashboard/partials/_freelancer-request-sent-modal.html' %}
<script>
    request_specific_freelancer = function(freelancer_id, managed){
        
        if (managed){
            order_id = document.getElementById(`b_open_orders_${freelancer_id}`).value;
        } else {
            order_id = document.getElementById(`open_orders_${freelancer_id}`).value;
        }

        if (order_id == ''){
            alert('Please pick a order or cancel message.')
            return false
        }
        //console.log(`SELECTED: ${order_id}`);
        $(`#selectFreelancer_${freelancer_id}`).modal('hide')
        $(`#b_selectFreelancer_${freelancer_id}`).modal('hide')

        businessSocket.send(JSON.stringify({
            'type': 'direct.message', 
            'data': {
                'event': 'Specific Freelancer',
                'order_id': order_id,                
                'business': user_id,
                'requested_freelancer': freelancer_id,
                'status': 'RE_REQUESTED'
            }
        }));


        $("#requestFreelancerSent").modal("show");

    }
</script>

<script>
    toggleSection = function() {
        var div = document.getElementById('qrContent');
        if (div.style.display !== 'none') {
            div.style.display = 'none';
        }
        else {
            div.style.display = 'block';
        }
    };
    
</script>

<script type="text/javascript">
    {% if platform == 'mac' %}
        var m = L.map('m').setView([{{ user.business.location.x }}, {{ user.business.location.y }}], 14); 
    {% else %}
        var m = L.map('m').setView([{{ user.business.location.y }}, {{ user.business.location.x }}], 14); 
    {% endif %}
    
    L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(m);
    const century21icon = L.icon({
        iconUrl: "{% static 'assets/images/scooter-icon.png' %}",
        iconSize: [30, 30]
        });

    {% for e in freelancers %}
        {% if platform == 'mac' %}
            L.marker([{{ e.location.x }}, {{ e.location.y }}], {icon: century21icon}).addTo(m).bindPopup('{{e.name}}');
        {% else %}
            L.marker([{{ e.location.y }}, {{ e.location.x }}], {icon: century21icon}).addTo(m).bindPopup('{{e.name}}');
        {% endif %}
    {% endfor %}
</script>

{% endblock js %}
