{% extends 'dndsos_dashboard/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% get_current_language as lang %}

<section role="main" class="content-body" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <header class="page-header">
        <h2>{% trans 'Open Orders' %}</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>{% trans 'Open Orders' %}</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="col-md-10 col-lg-10">
        <form action="" method="POST" enctype="multipart/form-data" id="open_orders" name="openOrders">
            {% csrf_token %}
            <div class="row" >
                <div class="col-md-12">
                    {% if is_available %}
                    <h4>{% trans 'Available orders offered by businesses' %} {{ stam }}</h4>
                    <p>{% trans 'There' %} {% if num_open_orders > 1 %}  {% trans 'are' %} {% else %} {% trans 'is' %} {% endif %}{{ num_open_orders }} {% trans 'open orders available' %}.</p>
                    {% else %}
                    <div class="row">
                        <h4><i class="fa fa-exclamation-triangle fa-1x" ></i> {% trans 'Your status is' %} <b>{% trans 'Unavailable' %}</b>. {% trans 'Change it to' %} <a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}" class="btn btn-success">{% trans 'Available' %}</a> {% trans 'to see new offers' %}.</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-3">
                   <i class="fa fa-circle" style="color: #e36159;"></i><span> {% trans 'Directly requested by the business' %}.</span>
                </div>
            </div>
            <hr>
            <div class="row" id="openOrdersList">
                <!-- ---------------- -->
                <!-- Open orders List -->
                <!-- ---------------- -->
            </div>
        </form>
    </div>
    <!-- end: page -->
</section>

<script>

    //Alert for an offer that is not available anymore
    $(document).ready(function() {
        if ("{{ offer_removed }}"){
            $('#orderRemoved').modal("show");
        }

        $.ajax({
            type: 'GET',
            url: "{% url 'orders:open-orders-list' %}",
            async:false,
            success: function(response) {
                //console.log(response);
                $('#openOrdersList').html(response);
            }		
        });
    
    })


</script>

{% endblock content %}