{% extends 'dndsos_dashboard/base.html' %}
{% load static %}

{% block content %}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Open Orders</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:f-dashboard' f_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Open Orders</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class=""></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="col-md-10 col-lg-10">
        <form action="" method="POST" enctype="multipart/form-data" id="open_orders" name="openOrders">
            {% csrf_token %}
            <div class="row" >
                <div class="col-md-4">
                    <h4>Available orders offered by businesses</h4>
                    <p>There  {% if num_open_orders > 1 %}  are {% else %} is {% endif %}{{ num_open_orders }} open orders available.</p>
                    <!-- <button type="submit" class="btn btn-warning mobile-bottom-margin" name="all_cities" type="button">Show all!</button> -->
                </div>
                <!-- TODO: Add filter results -->
                <!-- <div class="col-md-4">
                    <div class="input-group mb-md">
                        <label for="city_selector" style="margin-right: 2rem;">Filter by City </label>
                        <select name="city" id="city_selector">
                            <option value="">--------------------</option>
                            {% for city in cities %}
                            <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                        <span class="input-group-btn left">
                            <button type="submit" class="btn btn-success" name="sort_by_city" type="button">Filter!</button>
                        </span>
                    </div>                    
                </div> -->
            </div>
            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-3">
                   <i class="fa fa-circle" style="color: #e36159;"></i><span> Directly requested by the business.</span>
                </div>
            </div>
            <hr>
            <div class="row" id="openOrdersList">
                <!-- ---------------- -->
                <!-- Open orders List -->
                <!-- ---------------- -->
            </div>
        </form>
    </div>
    <!-- end: page -->
</section>

<script>

    //Alert for an offer that is not available anymore
    $(document).ready(function() {
        if ("{{ offer_removed }}"){
            $('#orderRemoved').modal("show");
        }

        $.ajax({
            type: 'GET',
            url: "{% url 'orders:open-orders-list' %}",
            async:false,
            success: function(response) {
                //console.log(response);
                $('#openOrdersList').html(response);
            }		
        });
    
    })


</script>

{% endblock content %}