{% extends 'dndsos_dashboard/base.html' %}
{% load static %}

{% block content %}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Orders</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Tables</span></li>
                <li><span>Editable</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
        
                <h2 class="panel-title">Default</h2>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-md">
                            <!-- <button id="addToTable" class="btn btn-primary">Add <i class="fa fa-plus"></i></button> -->
                            <!-- <a href="{% url 'dndsos_dashboard:add-order' %}" id="addOrder" class="btn btn-primary">Add <i class="fa fa-plus"></i></a> -->
                            {% include 'dndsos_dashboard/add-order.html' %}
                        </div>
                    </div>
                </div>
                <form action="" method="POST" enctype="multipart/form-data" name="orderTable" id="orderTable">
                    {% csrf_token %}
                    <div>
                        <input id="chat-message-input" type="text" size="100"><br>
                        <input id="chat-message-submit" type="button" value="Send">                    
                    </div>
                        <table class="table table-bordered table-striped mb-none display" id="ordersTable">
                        <thead>
                            <tr>
                                <th>Order Created</th>
                                <th>Destination</th>
                                <th>Allocated Freelancer</th>
                                <th>Order Status</th>
                                <th>Notes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr class="gradeX">
                                <td>{{ order.created }}</td>
                                <td>{{ order.drop_off_address }}</td>
                                {% if order.freelancer %}
                                <td style="background-color:green; color: white">{{order.freelancer_allocated}} / {{order.freelancer_allocated.phone}}</td>
                                {% else %}
                                <td style="background-color:orange; color: white">Not Allocated</td>
                                {% endif %}
                                {% if order.status == 'REQUESTED' %}
                                    <td style="background-color: rgb(220, 235, 15); color: rgb(0, 0, 0); text-align:center" >
                                        <div style="background-color: green;">
                                            <label for="dispached">Waiting for a Freelancer...</label>                                    
                                        </div>
                                {% elif order.status == 'STARTED' %}
                                    <td style="background-color: rgb(199, 109, 25); color:white; text-align:center">
                                        <label for="dispached">Waiting for pickup...</label>
                                        <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
                                    </td>
                                {% elif order.status == 'IN_PROGRESS' %}
                                    <td style="background-color: rgb(5, 97, 202); color:white; text-align:center">
                                        <label for="dispached">Being delivered...</label>
                                        <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
                                    </td>
                                {% elif order.status == 'COMPLETED' %}
                                    <td>
                                        <label for="dispached">Delivered</label>
                                        <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
                                    </td>
                                {% else %}
                                    <td>
                                        <label for="dispached">ERROR. PLEASE CHECK WITH ADMIN!!</label>
                                        <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
                                    </td>
                                {% endif %}
                                <td>{{ order.notes }}</td>
                                <td class="actions">
                                    <!-- <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a> -->
                                    <!-- <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a> -->
                                    <!-- <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a> -->
                                    <button type="submit" name="orderDelete" id="_{{ order.order_id }}" value="{{ order.order_id }}" class="fa fa-trash-o"><i class=""></button>

                                    <!-- <a href="#deleteOrder" data-toggle="modal" data-target="#confirmDelete" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>   -->
                                    <!-- Modal -->
                                    <!-- <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDeleteLabel">Delete Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Confirm deleting this order.
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" name="orderDelete" value="{{ order.order_id }}" class="btn btn-primary">Confirm</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div> -->
                                    <!-- End modal -->
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>

            </div>
        </section>
    <!-- end: page -->
</section>


<!-- <script>
    /*
Websocket events:
*/
    //console.log(window.location)
    let wsStart = 'ws://' 
    let loc = window.location
    if (loc.protocol == 'https:') {
        let wsStart = 'wss://' 
    }
    
    let endpoint = wsStart + loc.host + loc.pathname
    
    let socket = new WebSocket(endpoint)


    socket.onmessage = function(e){
        console.log(`message: ${e}`)
    }
    socket.open = function(e){
        console.log(`open: ${e}`)
    }
    socket.onerror = function(e){
        console.log(`error: ${e}`)
    }
    socket.onclose = function(e){
        console.log(`close: ${e}`)
    }

</script> -->
<!-- Websocket -->
<!-- <script src="{% static 'assets/javascripts/order.js' %}"></script> -->

{% endblock content %}

