{% extends 'dndsos_dashboard/base.html' %}
{% load static %}

{% block content %}

<section role="main" class="content-body">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" /> -->
    
    <header class="page-header">
        <h2>Orders</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{% url 'dndsos_dashboard:b-dashboard' b_id=user.pk %}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Tables</span></li>
                <li><span>Editable</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
        <section class="panel">
            <div class="panel-body">
                <h3 class="">Add new order</h3>
                <div class="row">
                    <div class="col-md-12">
                        {% include 'dndsos_dashboard/partials/_add-order-modal.html' %}
                    </div>
                </div>
                <hr>
                <form action="" method="POST" enctype="multipart/form-data" name="orderTable" id="orderTable">
                    {% csrf_token %}
                    <table class="table table-responsive table-bordered table-striped mb-none display" id="ordersTable">

                        <!-- Orders table dynamically updated -->
                        
                    </table>
                </form>

            </div>
        </section>
    <!-- end: page -->
</section>

<script>
    $.ajax({
        url: "{% url 'orders:orders-table' %}",
        success: function(response) {
            $('#ordersTable').html(response);
        }
    })		
</script>

<!-- <script>
    /*
Websocket events:
*/
    //console.log(window.location)
    let wsStart = 'ws://' 
    let loc = window.location
    if (loc.protocol == 'https:') {
        let wsStart = 'wss://' 
    }
    
    let endpoint = wsStart + loc.host + loc.pathname
    
    let socket = new WebSocket(endpoint)


    socket.onmessage = function(e){
        console.log(`message: ${e}`)
    }
    socket.open = function(e){
        console.log(`open: ${e}`)
    }
    socket.onerror = function(e){
        console.log(`error: ${e}`)
    }
    socket.onclose = function(e){
        console.log(`close: ${e}`)
    }

</script> -->
<!-- Websocket -->
<!-- <script src="{% static 'assets/javascripts/order.js' %}"></script> -->

{% endblock content %}

