{% extends "dndsos/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}PickNdell - Login{% endblock %}

{% block content %}
		<!-- start: page -->
		<section class="body-sign" style="margin-top:10%">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-4 col-lg-4">
                    <div class="center-sign">
    
                        <div class="panel ">
                            <div class="panel-title-sign mt-xl text-right">
                                <h2 class="title text-uppercase text-bold m-none text-center">Recover Password</h2>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <p class="m-none text-semibold h6">Enter your e-mail below and we will send you reset instructions!</p>
                                </div>
    
                                <form method="POST" id='recoverPassword'>
                                    {% csrf_token %}
                                    <div class="form-group mb-none">
                                        <div class="input-group">
                                            <input name="login_email" type="email" placeholder="E-mail" class="form-control input-lg" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary btn-lg" type="submit">Reset!</button>
                                            </span>
                                        </div>
                                    </div>
    
                                    <p class="text-center mt-lg">Remembered? <a href="{% url 'core:login' %}">Sign In!</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</section>
		<!-- end: page -->

		<!-- Vendor -->
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="assets/javascripts/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="assets/javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="assets/javascripts/theme.init.js"></script>

        {% endblock content %}