{% load i18n %}
{% get_current_language as lang %}

{% for order in orders %}
<div class="col-md-4" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <section class="panel panel-featured-left panel-featured-secondary">
        <div class="panel-body">
            <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon {% if order.status == "REJECTED" %} bg-secondary {% else %} bg-primary {% endif %}">
                        <i class="fa fa-exclamation"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <!-- <h4 class="title">Order ID: {{ order.order_id|slugify }}</h4> -->
                        <div class="" >
                            <p class="" >{% trans 'Order Created' %}: <b>{{ order.created }}</b></p>
                            <p class="">{% trans 'Customer Address' %}: <b>{{ order.drop_off_address }}</b></p>
                        </div>

                    </div>
                    <div class="summary-footer">
                        <div class="row" >
                            <div class="col-md-12" style="text-align: center;">
                                <button id="addOrder_'{{ order.order_id }}'" onclick="broadcast_order('{{ order.order_id }}', '{{ order.pick_up_address }}', '{{ order.drop_off_address }}', '{{ order.notes }}')" class="btn btn-lg btn-success" type="button" drop_off_address='{{ order.drop_off_address }}' name="requestFreelancer" value="{{ order.order_id }}">{% trans 'Request Courier' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 
{% include 'dndsos_dashboard/partials/_broadcast-request-modal.html' %}
{% endfor %}
