{% load i18n %}
{% get_current_language as lang %}
{% load order_tags %}

<thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Offer Date' %}</th>
        <th>{% trans 'Business' %}</th>
        <th>{% trans 'Pickup' %}</th>
        <th>{% trans 'Destination' %}</th>
        <!-- <th>Notes</th> -->
        <th>{% trans 'Delivered' %}</th>
        <th>{% trans 'Order Status' %}</th>
        <th>{% trans 'Fare' %}</th>
        <th>{% trans 'Messages' %}</th>
        <!-- <th>Paid for</th> -->
        <th></th>
    </tr>
</thead>
<tbody>
    {% for order in orders|dictsortreversed:'updated' %}

    <!-- Updated time/date -->
    <tr class="">
        <td>{{ order.order_public_id }}</td>
        <td>{{ order.updated }}</td>
        <td id="business_{{ order.order_id }}">{{ order.business.business.business_name }}</td>
        <td id="pickupAddress_{{ order.order_id }}">{{ order.pick_up_address }}</td>
        <td id="dropoffAddress_{{ order.order_id }}">{{ order.drop_off_address }}</td>
        <!-- <td id="notes">{{ order.notes }}</td> -->
    
            <!-- Delivered status change -->
        <td class="actions center">
            {% if order.status == 'COMPLETED' or order.status == 'SETTLED'%}
                <button class="btn btn-outline-success" type="button" name="orderDelivered" id="orderDelivered" value="{{ order.order_id }}" disabled><i class="fa fa-check fa-2x" style="color:green;"></i></button>
            {% elif order.status == 'STARTED'  %}
                <!-- Waiting for the pickup -->
                <i class="fa fa-exclamation-triangle fa-2x" style="color: red;"></i>
            {% else %}
                <button class="btn btn-success" onclick="delivered('{{ order.order_id }}','{{ order.pick_up_address }}', '{{ order.drop_off_address }}')" type="button" name="orderDelivered" id="orderDelivered" value="{{ order.order_id }}">{% trans 'Delivered' %}?<i class="fa fa-trash"></i></button>
            {% endif %}
        </td>

        <!-- Order status -->
        {% if order.status == 'REQUESTED' %}
            <td style="background-color: rgb(220, 235, 15); color: rgb(0, 0, 0);" >
                <p for="dispached">{% trans 'Waiting for a Courier...'  %}</p>
            </td>                                    
        {% elif order.status == 'STARTED' %}
            <td class="warning center">
                <p><i class="fa fa-exclamation-triangle fa-2x"></i> {% trans 'Go to pickup'  %}</p>
            </td>
        {% elif order.status == 'IN_PROGRESS' %}
            <td class="primary center" style="padding-top: 1em;">
                <label for="dispached">{% trans 'Being delivered...'  %}</label>
            </td>
        {% elif order.status == 'COMPLETED' %}
            <td class="success center">
                <label for="dispached"><i class="fa fa-check-square fa-2x"></i> {% trans 'Delivered'  %}</label>
            </td>
        {% elif order.status == 'SETTLED' %}
            <td>
                <label for="dispached">{% trans 'Settled'  %}</label>
            </td>
        {% else %}
            <td>
                <label for="dispached">ERROR. PLEASE CHECK WITH ADMIN!!</label>
            </td>
        {% endif %}

        <!-- Order fees -->
        {% if lang == 'he' %}
            <td id="order_fees">{{ order.fare | multiply:usd_ils |round_float }} ₪ </td>
        {% elif lang == 'en' %}
            <td id="order_fees">$ {{ order.fare | multiply:1 |round_float }}</td>
        {% else %}
            <td id="order_fees">€ {{ order.fare | multiply:usd_ils |round_float }}</td>
        {% endif %}

        <!-- Messages -->
        <td class="actions center">
            {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' or order.status == 'STARTED' %}
                {% include './_f-message-modal.html' with order=order %}
            {% else %}
            {% endif %}
        </td>

        <!-- Settlement -->
        <!-- <td class="actions" >
            {% if order.status == 'SETTLED' %}
                <button style="text-align: center;" class="btn btn-success" disabled>Paid For<i class="fas fa-trash"></i></button>
            {% else %}
                <button type="button" onclick="settleOrder('{{ order.order_id }}')" style="text-align: center;" class="btn btn-success" name="orderSettled" id="{{ order.order_id }}" value="{{ order.order_id }}">Paid For<i class="fas fa-trash"></i></button>
            {% endif %}
        </td> -->

        <!-- Delete/Cancel order/offer -->
        <td class="actions" style="text-align: center;">
            
            <!-- Confirmation modal -->
            <div class="modal fade" id="fCancelOrder_{{ order.order_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Close' %}</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans 'Confirmation' %}!</h4>
                        </div>
                        <div class="modal-body">
                             <section class="panel">
                                <header class="panel-heading">
                                    <p>{% trans 'Are you sure you want to cancel this order' %}?</p>              
                                </header>
                                <div class="modal-footer">
                                    <!-- <button id="cancel_b_order" value="{{ order_id }}" name="cancel_b_order" type="submit" class="btn btn-primary">Confirm</button> -->
                                    <button id="cancel_f_order_{{ order.order_id }}" onclick="f_cancel_order('{{ order.order_id }}')" value="{{ order.order_id }}" name="cancel_f_order" type="button" class="btn btn-primary">{% trans 'Confirm' %}</button>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">{% trans 'Close' %}</button>
                                </div>
                             </section>
                        </div>
                    </div>
                </div>
            </div>
            <a 
                class="btn btn-danger on-default edit-row" 
                name="orderCancel" id="{{ order.order_id }}" 
                value="{{ order.order_id }}" 
                {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' %}
                    disabled 
                {% else %} 
                    data-toggle="modal" data-target="#fCancelOrder_{{ order.order_id }}" 
                {% endif %} 
                style="color: white;">
                <i class="fa fa-trash-o"></i>
            </a>

        </td>

    </tr>
    {% endfor %}
</tbody>

{% block js %}
<script>
    settleOrder = function(order_id){
        console.log(`Order Settled: ${order_id}`);
        user = '{{ user.pk }}'
        freelancerSocket.send(JSON.stringify({
            'type': 'update.order', 
            'data': {
                'event': 'Order Settled',
                'freelancer': user,
                'status': 'SETTLED',
                'order_id': order_id
            }
        }));
        $.ajax({
            url: "{% url 'orders:deliveries-table' %}",
            success: function(response) {
                $('#deliveriesTable').html(response);
            }
        })
        $("#orderSettled").modal("show");
    }

</script>
{% endblock js %}