<thead>
    <tr>
        <th>Offer Date</th>
        <th>Business</th>
        <th>Pickup</th>
        <th>Destination</th>
        <th>Notes</th>
        <th>Order Status</th>
        <th>Delivered</th>
        <th>Messages</th>
        <th>Paid for</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for order in orders|dictsort:'updated' %}
    <tr class="">
        <td>{{ order.updated }}</td>
        <td id="business_{{ order.order_id }}">{{ order.business.employer.business_name }}</td>
        <td id="pickupAddress_{{ order.order_id }}">{{ order.pick_up_address }}</td>
        <td id="dropoffAddress_{{ order.order_id }}">{{ order.drop_off_address }}</td>
        <td id="notes">{{ order.notes }}</td>
        {% if order.status == 'REQUESTED' %}
            <td style="background-color: rgb(220, 235, 15); color: rgb(0, 0, 0);" >
                <p for="dispached">Waiting for a Freelancer...</p>
            </td>                                    
        {% elif order.status == 'STARTED' %}
            <td style="background-color: rgb(199, 109, 25); color:white;">
                <p>Go to pickup!!</p>
            </td>
        {% elif order.status == 'IN_PROGRESS' %}
            <td style="background-color: rgb(5, 97, 202); color:white;">
                <label for="dispached">Being delivered...</label>
            </td>
        {% elif order.status == 'COMPLETED' %}
            <td>
                <label for="dispached">Delivered</label>
            </td>
        {% elif order.status == 'SETTLED' %}
            <td>
                <label for="dispached">Settled</label>
            </td>
        {% else %}
            <td>
                <label for="dispached">ERROR. PLEASE CHECK WITH ADMIN!!</label>
            </td>
        {% endif %}
        <td class="actions">
            {% if order.status == 'COMPLETED' or order.status == 'SETTLED'%}
                <button class="btn btn-outline-success" type="button" name="orderDelivered" id="orderDelivered" value="{{ order.order_id }}" disabled>Delivered!<i class="fas fa-trash"></i></button>
            {% elif order.status == 'STARTED'  %}
                <!-- Waiting for the pickup -->
            {% else %}
                <button class="btn btn-success" onclick="delivered('{{ order.order_id }}','{{ order.pick_up_address }}', '{{ order.drop_off_address }}')" type="button" name="orderDelivered" id="orderDelivered" value="{{ order.order_id }}">Delivered?<i class="fas fa-trash"></i></button>
            {% endif %}

        </td>

        <!-- Messages -->
        <td class="actions">
            {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' or order.status == 'STARTED' %}
                {% include './_f-message-modal.html' with order=order %}
            {% else %}
            {% endif %}
        </td>

        <!-- Settlement -->
        <td class="actions" >
            {% if order.status == 'SETTLED' %}
                <button style="text-align: center;" class="btn btn-success" disabled>Paid For<i class="fas fa-trash"></i></button>
            {% else %}
                <button type="button" onclick="settleOrder('{{ order.order_id }}')" style="text-align: center;" class="btn btn-success" name="orderSettled" id="{{ order.order_id }}" value="{{ order.order_id }}">Paid For<i class="fas fa-trash"></i></button>
            {% endif %}
        </td>

        <!-- Delete/Cancel order/offer -->
        <td class="actions" style="text-align: center;">
            
            <!-- Confirmation modal -->
            <div class="modal fade" id="fCancelOrder_{{ order.order_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation!</h4>
                        </div>
                        <div class="modal-body">
                             <section class="panel">
                                <header class="panel-heading">
                                    <p>Are you sure you want to cancel this order?</p>              
                                </header>
                                <div class="modal-footer">
                                    <!-- <button id="cancel_b_order" value="{{ order_id }}" name="cancel_b_order" type="submit" class="btn btn-primary">Confirm</button> -->
                                    <button id="cancel_f_order_{{ order.order_id }}" onclick="f_cancel_order('{{ order.order_id }}')" value="{{ order.order_id }}" name="cancel_f_order" type="button" class="btn btn-primary">Confirm</button>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                </div>
                             </section>
                        </div>
                    </div>
                </div>
            </div>
            <a 
                class="btn btn-danger on-default edit-row" 
                name="orderCancel" id="{{ order.order_id }}" 
                value="{{ order.order_id }}" 
                {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' %}
                    disabled 
                {% else %} 
                    data-toggle="modal" data-target="#fCancelOrder_{{ order.order_id }}" 
                {% endif %} 
                style="color: white;">
                <i class="fa fa-trash-o"></i>
            </a>

        </td>

    </tr>
    {% endfor %}
</tbody>

{% block js %}
<script>
    settleOrder = function(order_id){
        console.log(`Order Settled: ${order_id}`);
        user = '{{ user.pk }}'
        freelancerSocket.send(JSON.stringify({
            'type': 'update.order', 
            'data': {
                'event': 'Order Settled',
                'freelancer': user,
                'status': 'SETTLED',
                'order_id': order_id
            }
        }));
        $.ajax({
            url: "{% url 'orders:deliveries-table' %}",
            success: function(response) {
                $('#deliveriesTable').html(response);
            }
        })
        $("#orderSettled").modal("show");
    }

</script>
{% endblock js %}