{% load i18n %}
{% get_current_language as lang %}

<section class="panel" id="chat_window" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
    <h4>{% trans 'Chat with' %} <b>{{ order.business.business.business_name }}</b></h4>
    <h5>{% trans 'Order drop-off address' %}: <b>{{ order.drop_off_address }}</b></h5>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="table table-responsive table-bordered table-striped mb-none display">
                <tbody>
                    {% for message in order.chat.messages %}
                        <tr>
                            <td class="chat_td">

                               <p><b>{{ message.time }}:</b> {{ message.message }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                <div id="reply" class="panel-body" >
                    <div class="row form-group">            
                        <div class="mb-md hidden-lg hidden-xl"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input id="chat-message-input_{{ order.order_id }}" type="text" size="100%" class="form-control" placeholder="{% trans 'Type your message' %}"><br>
                            {{ room_name|json_script:"room-name" }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <button type="button" id="chat-message-submit_{{ order.order_id }}" value="Send" class="btn btn-primary">{% trans 'Reply' %}</button>
                </footer>
            
        </div>
    </div>
    <hr>

</section>       
<script>

    document.querySelector('#chat-message-input_{{ order.order_id }}').focus();
    document.querySelector('#chat-message-input_{{ order.order_id }}').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit_{{ order.order_id }}').click();
        }
        e.preventDefault();
    };

    document.querySelector('#chat-message-submit_{{ order.order_id }}').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input_{{ order.order_id }}');
        const message = messageInputDom.value;
        
        console.log(`MESSAGE: ${message}`);
        
        freelancerSocket.send(JSON.stringify({
            'type': 'direct.message', 
            'data': {
                'chat_message': message,
                'new_message': 'to_business',
                'chat_freelancer': '{{ order.freelancer.pk }}',
                'order_id': '{{ order.order_id }}'
            }
        }));
        messageInputDom.value = '';
        e.preventDefault();

        //$("#messageSent").modal("show");
    
    };

    //Zooming/focus on the bottom of the textarea
    /*
    $(document).ready(function(){
        var $textarea = $('#chat_log');
        $textarea.scrollTop($textarea[0].scrollHeight);
    });
    */
</script>
