{% load i18n %}
{% get_current_language as lang %}

{% for order in orders|dictsort:'created' %}
{% if order.business %}                     
    <div class="chat_td panel-body" onclick="showChat('{{ order.order_id }}')" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
        <div class="row">
            <div class="col-md-11 col-11">
                <h4>{% trans 'Order Details' %}</h4>
                <p>{% trans 'Created' %}: <b>{{ order.created }}</b></p>   
                <p>{% trans 'Business' %}: <b>{{ order.business.business.business_name }}</b></p>   
                <p>{% trans 'Business address' %} (pick-up): <b>{{ order.pick_up_address }}</b></p>   
                <p>{% trans 'Customer address' %} (Drop off): <b>{{ order.drop_off_address }}</b></p>
            </div>
            <div class="col-md-1 col-1 col-sm-1">
                {% if order.new_message.freelancer %}
                    <span  class="my_badge my_badge-danger">{% trans 'New' %}</span> 
                {% endif %}
            </div>
            <i class="fa fa-chevron-right fa-2x"></i>
        </div>
          
    </div>

{% endif %}
{% endfor %}


<style>
    .chat_td{
        cursor: pointer;
        border-width: 1px 1px 1px 1px;
        border: solid rgb(128, 160, 128);
    }

    table {
        border: 2px solid green;
    }

    .my_badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem; }
        .badge:empty {
          display: none; }   
    .my_badge-danger {
        color: #fff;
        background-color: #f23a2e; }
        .badge-danger[href]:hover, .badge-danger[href]:focus {
            color: #fff;
            text-decoration: none;
            background-color: #df1b0e; }

</style>