{% load i18n %}
{% load static %}
{% get_current_language as lang %}

<!-- Message Sent Modal -->
<div class="modal fade" id="orderRemoved" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<section role="main" class="content-body" {% if lang == 'he' %} dir='rtl' align='right' {% else %} style="text-align: left;"{% endif %}>
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document" >
  <!--Content-->
  <div class="modal-content text-center">
    <!--Header-->
    <div class="modal-header d-flex justify-content-center">
      <h3 class="heading">{% trans 'Order Canceled' %}</h3>
    </div>

    <!--Body-->
    <div class="modal-body">

      <i class="fa fa-times fa-4x animated rotateIn" style="color: red;"></i>
        
        <h5>{% trans 'Order Details' %}</h5>
        <label class="col-sm-3 control-label">{% trans 'Created' %}:</label>
        <div class="row" id="created">

        </div>
        
        <label class="col-sm-3 control-label">{% trans 'Business' %}:</label>
        <div class="row" id="business_name">

        </div>
        
        <label class="col-sm-3 control-label">{% trans 'Address' %}</label>
        <div class="row" id="canceled_drop_off_address">
        
        </div>

    </div>

    <!--Footer-->
    <div class="modal-footer flex-center">
      <a href="" class="btn  btn-outline-danger">{% trans 'Close' %}</a>
    </div>
  </div>
  <!--/.Content-->
</div>
</div>

{% block orders_js %}
{% endblock orders_js %}
