{% load static %}
{% load i18n %}

  <!-- Message Sent Modal -->
  <div class="modal fade" id="messageSent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Message Sent</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fa fa-check fa-4x animated rotateIn" style="color: green;"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a href="" class="btn  btn-outline-danger">OK</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
