<thead>
    <tr>
        <th>Order Created</th>
        <th>Destination</th>
        <th>Allocated Freelancer</th>
        <th>Order Status</th>
        <th>Notes</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for order in orders %}
    <tr class="gradeX">
        <td>{{ order.created }}</td>
        <td>{{ order.drop_off_address }}</td>
        {% if order.freelancer %}
        <td style="background-color:green; color: white">{{order.freelancer.email}} / {{order.freelancer.phone_number}}</td>
        {% else %}
        <td style="background-color:orange; color: white">Not Allocated</td>
        {% endif %}
        {% if order.status == 'REQUESTED' %}
            <td style="background-color: rgb(220, 235, 15); color: rgb(0, 0, 0); text-align:center" >
                <div style="background-color: green;">
                    <label for="dispached">Waiting for a Freelancer...</label>                                    
                </div>
        {% elif order.status == 'STARTED' %}
            <td style="background-color: rgb(199, 109, 25); color:white; text-align:center">
                <label for="dispached">Waiting for pickup...</label>
                <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
            </td>
        {% elif order.status == 'IN_PROGRESS' %}
            <td style="background-color: rgb(5, 97, 202); color:white; text-align:center">
                <label for="dispached">Being delivered...</label>
                <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
            </td>
        {% elif order.status == 'COMPLETED' %}
            <td>
                <label for="dispached">Delivered</label>
                <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
            </td>
        {% else %}
            <td>
                <label for="dispached">ERROR. PLEASE CHECK WITH ADMIN!!</label>
                <!-- <button class="btn btn-sm btn-success" type="submit" name="dispached" value="{{ order.pk }}" >Dispach</button> -->
            </td>
        {% endif %}
        <td>{{ order.notes }}</td>
        <td class="actions">
            <!-- <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a> -->
            <!-- <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a> -->
            <!-- <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a> -->
            <button type="submit" name="orderDelete" id="_{{ order.order_id }}" value="{{ order.order_id }}" class="fa fa-trash-o"><i class=""></button>

        </td>

    </tr>
    {% endfor %}
</tbody>