<thead>
    <tr>
        <th>Updated</th>
        <th>Order Destination</th>
        <!-- <th>Notes</th> -->
        <th>Allocated Freelancer</th>
        <th>Picked Up</th>
        <th>Order Status</th>
        <th>Messages</th>
        <!-- <th>Payments</th> -->
        <th></th>
    </tr>
</thead>
<tbody>
    {% for order in orders|dictsortreversed:'updated' %}
    <tr class="gradeX special-height">
        <td>{{ order.updated }}</td>
        <td>{{ order.drop_off_address }}</td>
        <!-- <td>{% if order.notes %}{{ order.notes }}{% endif %}</td> -->
        
        <!-- Order allocation -->
        {% if order.freelancer %}
        <td class="success center">
            <p style="padding-top: 1em;">{{order.freelancer.freelancer.name}} / {{order.freelancer.freelancer.phone}}</p>
        </td>
        {% else %}
        <td style="background-color:orange; color: white; text-align:center;padding-top:1em"><i class="fa fa-2x fa-exclamation-triangle"></i> Not Allocated</td>
        {% endif %}

        <!-- Pick up status change -->
        {% if order.status == 'STARTED' %}
            <td class="actions" style='text-align:center'>
                <button style="margin: 0%;" class="btn btn-success" type="button" onclick="pickedup('{{ order.order_id }}','{{ order.pick_up_address }}', '{{ order.drop_off_address }}')" name="pickedUp" id="pickedUp_{{ order.order_id }}" value="{{ order.order_id }}">Picked-Up? <i class="fa fa-truck"></i></button>
            </td>
        {% elif order.status == 'REQUESTED' or order.status == 'RE_REQUESTED' %}
        <td class="center">
            <i class="fa fa-2x fa-exclamation" style="color: red;"></i>
        </td>
        {% else %}
            <td class="actions success center">
                <i class="fa fa-check fa-2x"></i>
            </td>
        {% endif %}

        <!-- Order Status -->                
        {% if order.status == 'REQUESTED' or order.status == 'REJECTED' or order.status == 'RE_REQUESTED' %}
            <td class="info center" style="padding-top: 1em;" >
                <label for="dispached" id="orderStatus" status='{{ order.status }}'>Waiting for a Freelancer...</label>                                    
        {% elif order.status == 'STARTED' %}
            <td class="info center">
                <label for="dispached" id="orderStatus" status='{{ order.status }}' style="padding-top:1em">Waiting for pickup...</label>
            </td>
        {% elif order.status == 'IN_PROGRESS' %}
            <td class="primary center">
                <div class="row">
                    <div class="col-md-6" style="border-right: solid white; padding-top:1em">
                        <label for="dispached" id="orderStatus" status='{{ order.status }}'>Being delivered...</label>
                    </div>
                    <div class="col-md-6" style="padding-top:1em">
                        {{ order.trip_completed }} % completed.
                    </div>
                </div>
                
            </td>
        {% elif order.status == 'COMPLETED' %}
            <td class="center success">
                <label for="completed" id="orderStatus" status='{{ order.status }}'><i class="fa fa-check-square-o fa-2x"></i> Delivered</label>
            </td>
        {% elif order.status == 'SETTLED' %}
            <td>
                <label for="completed" id="orderStatus" status='{{ order.status }}'>Settled</label>
            </td>
        {% else %}
            <td>
                <label for="error">ERROR. PLEASE CHECK WITH ADMIN!!</label>
            </td>
        {% endif %}

        <!-- Messages -->
        <td class="actions" style='text-align:center'>
            {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' or order.status == 'STARTED' %}
                {% include './_b-message-modal.html' with order=order %}
            {% else %}
            {% endif %}
        </td>

        <!-- Payments -->
        <!-- <td class="actions" style='text-align:center'>
            {% if order.status == 'COMPLETED' %}
                {% include './_payment-modal.html' with order=order %}
            {% else %}
            {% endif %}

        </td> -->

        <!-- Delete/cancel -->
        <td class="actions" style='text-align:center'>
            <!-- Confirmation modal -->
            <div class="modal fade" id="bCancelOrder_{{ order.order_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation!</h4>
                        </div>
                        <div class="modal-body">
                             <section class="panel">
                                <header class="panel-heading">
                                    <p>Are you sure you want to cancel this order?</p>              
                                </header>
                                <div class="modal-footer">
                                    <button id="cancel_b_order_{{ order.order_id }}" onclick="b_cancel_order('{{ order.order_id }}')" value="{{ order.order_id }}" name="cancel_b_order" type="button" class="btn btn-primary">Confirm</button>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                </div>
                             </section>
                        </div>
                    </div>
                </div>
            </div>
             
            <a class="btn btn-danger on-default edit-row" name="orderCancel" id="{{ order.order_id }}" value="{{ order.order_id }}" {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' %} disabled {% else %} data-toggle="modal" data-target="#bCancelOrder_{{ order.order_id }}" {% endif %} style="color: white; margin:0%"><i class="fa fa-trash-o"></i></a>

            <!-- <button onclick="confirm_cancel('{{ order.order_id }}')" class="btn btn-danger on-default edit-row" type="button" name="orderCancel" id="{{ order.order_id }}" value="{{ order.order_id }}" {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' %} disabled {% else %} data-toggle="tooltip" data-placement="top" title="Cancel your order. Please confirm with the accepted freelancer that she/he has received your cancellation." {% endif %}><i class="fa fa-trash-o"></i></button> -->

        </td>

    </tr>
    {% endfor %}
</tbody>

<!-- 
Handing the cancelling of an offer by the business
This can happen only if the order is not in states IN_PROGRESS and COMPLETED 

<script>
    confirm_cancel = function (order_id){
        $(`#cancel_b_order`).val(order_id);
        $("#bCancelOrder").modal();
    }
</script>
-->
