{% load static %}
{% load i18n %}
{% get_current_language as lang %}
{% load order_tags %}

<thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Updated' %}</th>
        <th>{% trans 'Order Destination' %}</th>
        <!-- <th>Notes</th> -->
        <th>{% trans 'Allocated Courier' %}</th>
        <th>{% trans 'Picked Up' %}</th>
        <th>{% trans 'Order Status' %}</th>
        <th>{% trans 'Price' %}</th>
        <th>{% trans 'Contact Courier' %}</th>
        <th>{% trans 'Courier Feedback' %}</th>
        <th>{% trans 'Invoice' %}</th>
        <th>{% trans 'Delete' %}</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for order in orders|dictsortreversed:'updated' %}

    <tr class="gradeX special-height">
        <td>{{ order.order_public_id }}</td>
        <td>{{ order.updated }}</td>
        <td>{{ order.drop_off_address }}</td>

        <!-- Order allocation -->
        {% if order.freelancer %}
        <td class="success center">
            <p style="padding-top: 1em;">{{order.freelancer.freelancer.name}} / <a href="tel:{{ order.freelancer.freelancer.phone }}" style="color: white;"><i class="fa fa-phone-square fa-2x" ></i> {{order.freelancer.freelancer.phone}}</a></p>
        </td>
        {% else %}
        <td style="background-color:orange; color: white; text-align:center;padding-top:1em"><i class="fa fa-2x fa-exclamation-triangle"></i> {% trans 'Not Allocated' %}</td>
        {% endif %}

        <!-- Pick up status change -->
        {% if order.status == 'STARTED' %}
            <td class="actions" style='text-align:center'>
                <button style="margin: 0%;" class="btn btn-warning" type="button" onclick="pickedup('{{ order.order_id }}','{{ order.pick_up_address }}', '{{ order.drop_off_address }}')" name="pickedUp" id="pickedUp_{{ order.order_id }}" value="{{ order.order_id }}">{% trans 'Picked-Up' %}? <i class="fa fa-truck"></i></button>
            </td>
        {% elif order.status == 'REQUESTED' or order.status == 'RE_REQUESTED' or order.status == 'REJECTED' %}
        <td class="center" style="padding-top: 1em;">
            <i class="fa fa-2x fa-exclamation-triangle" style="color: red;"></i>
        </td>
        {% else %}
            <td class="actions success center">
                <i class="fa fa-check fa-2x"></i>
            </td>
        {% endif %}

        <!-- Order Status -->                
        {% if order.status == 'REQUESTED' or order.status == 'REJECTED' or order.status == 'RE_REQUESTED' %}
            <td class="info center" style="padding-top: 1em;" >
                <label for="dispached" id="orderStatus" status='{{ order.status }}'>{% trans 'Waiting for a Courier...' %}</label>                                    
        {% elif order.status == 'STARTED' %}
            <td class="info center">
                <label for="dispached" id="orderStatus" status='{{ order.status }}' style="padding-top:1em">{% trans 'Waiting for pickup...' %}</label>
            </td>
        {% elif order.status == 'IN_PROGRESS' %}
            <td class="primary center">
                <div class="row">
                    <div class="col-md-6" style="border-right: solid white; padding-top:1em">
                        <label for="dispached" id="orderStatus" status='{{ order.status }}'>{% trans 'Being delivered...' %}</label>
                    </div>
                    <div class="col-md-6" style="padding-top:1em">
                        {{ order.trip_completed }} % {% trans 'completed' %}.
                    </div>
                </div>
                
            </td>
        {% elif order.status == 'COMPLETED' %}
            <td class="center success" style="padding-top: 1em;">
                <label for="completed" id="orderStatus" status='{{ order.status }}'><i class="fa fa-check-square-o fa-2x"></i> {% trans 'Delivered' %}</label>
            </td>
        {% elif order.status == 'SETTLED' %}
            <td>
                <label for="completed" id="orderStatus" status='{{ order.status }}'>{% trans 'Settled' %}</label>
            </td>
        {% else %}
            <td>
                <label for="error">ERROR. PLEASE CHECK WITH ADMIN!!</label>
            </td>
        {% endif %}

        <!-- Price -->
        <td class="actions" style='text-align:center' id="price_cell">
            {% if lang == 'he' %}
                {{ order.price | multiply:usd_ils | round_float }} ₪
            {% elif lang == 'en' %}
                $ {{ order.price | round_float }}
            {% else %}
                {{ order.price | multiply:usd_eur | round_float }} ₪
            {% endif %}
        </td>
        
        <!-- Messages -->
        <td class="actions" style='text-align:center'>
            {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' or order.status == 'STARTED' %}
                {% include './_b-message-modal.html' with order=order %}
            {% else %}
            {% endif %}
        </td>

        <!-- Feedback -->
        <td class="actions" style='text-align:center'>
            {% if order.freelancer_rating %}
                <div style="text-align: center;">
                    <table>
                        <tr>
                                {% with ''|center:order.freelancer_rating as range %}
                                <td>
                                    {% for star in range %}
                                        <!-- <img src="{% static 'assets/images/goldstar.png' %}" alt="" title="{{ order.freelancer_rating }}"> -->
                                        <i class="fa fa-star" style="color:#ffd700" ></i>
                                    {% endfor %}    
                                </td>
                                {% endwith %}
                        </tr>
                    </table>
                </div>
            {% elif order.freelancer.freelancer and order.status == 'COMPLETED' %}
                <input type="button" class="btn btn-primary" onclick="rateFreelancer('{{ order.order_id }}')" value="✭">
            {% endif %}
        </td>

        <!-- Invoice -->
        <td class="actions ttip" style='text-align:center'>
            {% if order.invoice_url %}
                <a href="{{ order.invoice_url }}" target="_blank" data-toggle="tooltip" data-placement="top" title="{% trans 'Download the invoice' %}"> <i class="fa fa-file-text-o fa-2x"></i></a>
            {% endif %}
        </td>

        <!-- Delete/cancel -->
        <td class="actions" style='text-align:center'>
            <!-- Confirmation modal -->
            <div class="modal fade" id="bCancelOrder_{{ order.order_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">{% trans 'Confirmation' %}!</h4>
                        </div>
                        <div class="modal-body">
                             <section class="panel">
                                <header class="panel-heading">
                                    <p>{% trans 'Are you sure you want to cancel this order' %}?</p>              
                                </header>
                                <div class="modal-footer">
                                    <button id="cancel_b_order_{{ order.order_id }}" onclick="b_cancel_order('{{ order.order_id }}')" value="{{ order.order_id }}" name="cancel_b_order" type="button" class="btn btn-primary">{% trans 'Confirm' %}</button>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">{% trans 'Close' %}</button>
                                </div>
                             </section>
                        </div>
                    </div>
                </div>
            </div>
             
            <a class="btn btn-danger on-default edit-row ttip" name="orderCancel" id="{{ order.order_id }}" value="{{ order.order_id }}" {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' %} disabled {% else %} data-toggle="modal" data-target="#bCancelOrder_{{ order.order_id }}" {% endif %} style="color: white; margin:0%" data-toggle="tooltip" data-placement="top" title="{% trans 'Cancel your order' %}"><i class="fa fa-trash-o"></i></a>

        </td>

    </tr>
    {% endfor %}
</tbody>
<script>
    rateFreelancer = function(order_id){
        console.log(`ORDER: ${order_id}`)
        submit = document.getElementById('rateFreelancer')
        submit.value = order_id
        $(`#ratingConfirm`).modal("show")
    }

</script>

{% block js %}
    <script>
        $('.ttip').tooltip()
    </script>

    
{% endblock js %}