<thead>
    <tr>
        <th>Updated</th>
        <th>Destination</th>
        <th>Notes</th>
        <th>Allocated Freelancer</th>
        <th>Order Status</th>
        <th>Picked Up</th>
        <th>Payments</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for order in orders %}
    <tr class="gradeX">
        <td>{{ order.updated }}</td>
        <td>{{ order.drop_off_address }}</td>
        <td>{% if order.notes %}{{ order.notes }}{% endif %}</td>
        {% if order.freelancer %}
        <td style="background-color:green; color: white">{{order.freelancer.email}} / {{order.freelancer.phone_number}}</td>
        {% else %}
        <td style="background-color:orange; color: white">Not Allocated</td>
        {% endif %}
        {% if order.status == 'REQUESTED' or order.status == 'REJECTED' or order.status == 'RE_REQUESTED' %}
            <td style="background-color: rgb(220, 235, 15); color: rgb(0, 0, 0); text-align:center" >
                <div style="background-color: green;">
                    <label for="dispached" id="orderStatus" status='{{ order.status }}'>Waiting for a Freelancer...</label>                                    
                </div>
        {% elif order.status == 'STARTED' %}
            <td style="background-color: rgb(199, 109, 25); color:white; text-align:center">
                <label for="dispached" id="orderStatus" status='{{ order.status }}'>Waiting for pickup...</label>
            </td>
        {% elif order.status == 'IN_PROGRESS' %}
            <td style="background-color: rgb(5, 97, 202); color:white; text-align:center">
                <label for="dispached" id="orderStatus" status='{{ order.status }}'>Being delivered...</label>
            </td>
        {% elif order.status == 'COMPLETED' or order.status == 'SETTLED' %}
            <td>
                <label for="completed" id="orderStatus" status='{{ order.status }}'>Delivered</label>
            </td>
        {% else %}
            <td>
                <label for="error">ERROR. PLEASE CHECK WITH ADMIN!!</label>
            </td>
        {% endif %}
        <td class="actions" style='text-align:center'>
            {% if order.status == 'STARTED' %}
                <button class="btn btn-success" type="button" onclick="pickedup('{{ order.order_id }}','{{ order.pick_up_address }}', '{{ order.drop_off_address }}')" name="pickedUp" id="pickedUp_{{ order.order_id }}" value="{{ order.order_id }}">Picked-Up <i class="fa fa-truck"></i></button>
            {% else %}
            {% endif %}

        </td>
        <td class="actions" style='text-align:center'>
            {% if order.status == 'COMPLETED' %}
                {% include './_payment-modal.html' with order=order %}
                <!-- <button class="btn btn-success" type="submit" name="makePayment" id="payment_{{ order.order_id }}" value="{{ order.order_id }}">Pay for Delivery <i class="fas fa-hand-holding-usd"></i></button> -->
            {% else %}
            {% endif %}

        </td>
        <td class="actions" style='text-align:center'>
            <!-- Confirmation modal -->
            <div class="modal fade" id="bCancelOrder_{{ order.order_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirmation!</h4>
                        </div>
                        <div class="modal-body">
                             <section class="panel">
                                <header class="panel-heading">
                                    <p>Are you sure you want to cancel this order?</p>              
                                </header>
                                <div class="modal-footer">
                                    <button id="cancel_b_order_{{ order.order_id }}" onclick="b_cancel_order('{{ order.order_id }}')" value="{{ order.order_id }}" name="cancel_b_order" type="button" class="btn btn-primary">Confirm</button>
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                </div>
                             </section>
                        </div>
                    </div>
                </div>
            </div>
             
            <a class="btn btn-danger on-default edit-row" name="orderCancel" id="{{ order.order_id }}" value="{{ order.order_id }}" {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' %} disabled {% else %} data-toggle="modal" data-target="#bCancelOrder_{{ order.order_id }}" {% endif %} style="color: white;"><i class="fa fa-trash-o"></i></a>

            <!-- <button onclick="confirm_cancel('{{ order.order_id }}')" class="btn btn-danger on-default edit-row" type="button" name="orderCancel" id="{{ order.order_id }}" value="{{ order.order_id }}" {% if order.status == 'IN_PROGRESS' or order.status == 'COMPLETED' %} disabled {% else %} data-toggle="tooltip" data-placement="top" title="Cancel your order. Please confirm with the accepted freelancer that she/he has received your cancellation." {% endif %}><i class="fa fa-trash-o"></i></button> -->

        </td>

    </tr>
    {% endfor %}
</tbody>

<!-- 
Handing the cancelling of an offer by the business
This can happen only if the order is not in states IN_PROGRESS and COMPLETED 

<script>
    confirm_cancel = function (order_id){
        $(`#cancel_b_order`).val(order_id);
        $("#bCancelOrder").modal();
    }
</script>
-->