{% extends 'dndsos/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}DND SOS - Business Sign Up{% endblock %}

{% block content %}
<div class="mt-2">
  {% block head_title %}{% trans "Business Signup" %}{% endblock %}
</div>
<div class="container">
  <div class="row justify-content-center form-group">
    <div class="col-lg-7 mb-5 mt-5">
          {% include 'core/_messages.html' %}      
      
          <h2 class="h4 text-black mb-5" style="color: black;">{% trans "Business Sign Up" %}</h2> 

          <p>Already have an account? Then please <a href="{% url 'core:login' %}">sign in</a>.</p>

          <form class="form-horizontal form-bordered" id="signup_form" method="post" action="{% url 'core:employer_signup' %}">
            {% csrf_token %}
            <div class="form-group">
              {% for field in form %}
                <div class="mt-2">
                  {% if field.name == "terms_accepted" %}
                    {{ field.errors }}
                    {{ field }}
                    <a href="{% url 'dndsos:terms' %}">Accept Terms and Conditions</a>
                    <hr>
                  {% else %}
                  <div class="row">
                    {{ field.errors }}
                    <div class="col-md-4">
                      {{ field.label_tag }}
                    </div>
                    <div class="col-md-4">
                      {{ field }}  
                    </div>
                  </div>
                  {% endif %}  
              </div>
              {% endfor %}
            </div>

            <button class="btn btn-success text-white" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
          <a href="{% url 'core:employee_signup' %}">Freelancer? Register here</a>
  
    </div>
  </div>    
</div>
{% endblock %}
